   <header class="header">
     <div class="container">
       <div class="header__inner">
         <div class="header__logo">
           <object class="logo" title="Lazy Bison logo" type="image/svg+xml" data="/icons/logo.svg"></object>
         </div>
         {{ partial "navigation.html" .}}
         <button class="button header__contact-us-button  button__text--medium button--secondary get-consultation-btn">
           Contact us
         </button>
         <button class="burger-menu-button" aria-label="Toggle menu">
           <span class="line"></span>
           <span class="line"></span>
           <span class="line"></span>
         </button>
       </div>
     </div>
   </header>