   <nav class="header__main-nav">
     <ul class="header__main-nav-list text--medium">
       <li class="header__main-nav-item">
         <a href="/#services" class="header__main-nav-link">Services</a>
       </li>
       <li class="header__main-nav-item">
         <a href="/#explore" class="header__main-nav-link">Explore</a>
       </li>
       <li class="header__main-nav-item">
         <a href="/blogs" class="header__main-nav-link">Blogs</a>
       </li>
       <li class="header__main-nav-item">
         <a href="/cases" class="header__main-nav-link">Cases</a>
       </li>
       <li class="header__main-nav-item">
         <a href="/#testimonials" class="header__main-nav-link">Testimonials</a>
       </li>
     </ul>
   </nav>