.header {
  background-color: #212439;
  flex: 0 0 auto;
}
.header .header__inner {
  display: flex;
  flex-direction: column;
}
.header .header__top {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0px 1.3125rem 0px;
}
.header .header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header__main-nav {
  flex-basis: 41.5625rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .header__main-nav-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header .header__main-nav-link {
  color: #ffffff;
  transition: all 0.3s ease;
}
.header .header__main-nav-link:hover {
  color: #4139be;
}
.header .header__main-nav-link:active {
  color: #c4fc50;
}
.header .header__nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11.75rem;
}

.lazy-bison {
  flex: 1 1 auto;
}

.lazy-bison__inner {
  padding-bottom: 8.1875rem;
  padding-top: 2.875rem;
  background-color: #ffffff;
}

.lazy-bison__title {
  max-width: 67.375rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.lazy-bison-tittle__text {
  display: flex;
}

.lazy-bison__text--highlight {
  background-color: #c4fc50;
}

.lazy-bison__text--flex-end {
  justify-content: end;
}

.lazy-bison-description__inner {
  display: flex;
}

.lazy-bison-description__info {
  flex-basis: 32rem;
  padding-top: 6.1875rem;
  margin-bottom: 2.25rem;
}

.lazy-bison-description__text {
  margin: 24px 0 64px 0;
}

.lazy-bison__stats {
  display: flex;
  justify-content: end;
}

.lazy-bison-description__btn {
  padding: 1rem 3.2813rem;
}

.lazy-bison-stats__inner {
  display: flex;
  justify-content: end;
  padding-right: 2.25rem;
}

.lazy-bison__stats {
  flex-basis: 45.5rem;
  justify-content: space-between;
}

.lazy-bison__stats-text {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  font-weight: 700;
  line-height: 4.1875rem;
  letter-spacing: 0.03em;
}

.services__gray-line {
  margin-bottom: 5rem;
}

.services-info {
  background-image: url("/assets/images/services-info-bg.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
  background-color: transparent;
  padding-top: 3.5rem;
}

.services-info__inner {
  display: flex;
  justify-content: center;
  gap: 6.75rem;
  color: #ffffff;
}

.services-info__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 32rem;
}

.services-info__title {
  text-align: center;
}

.services-info__gray-line {
  width: 17.625rem;
  margin: 1.125rem 0 1.3125rem 0;
}

.services-info__description-text {
  margin-bottom: 4.8125rem;
}

.services-info__button {
  padding: 1rem 3.2813rem;
}

.services-info__type-button {
  width: 25.25rem;
  padding: 1.125rem 2.5rem;
  color: #212121;
  background: #e5ffaf;
  border: 0.0625rem dashed #b0b0b0;
  cursor: pointer;
}
.services-info__type-button:hover {
  background-color: #ffffff;
}
.services-info__type-button:active {
  background: #e5ffaf;
  font-weight: 600;
}

.explore__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: 2px solid #dcdcdc;
}

.explore-item__title {
  margin-bottom: 1.5rem;
}

.explore__item {
  display: flex;
  padding: 40px 0 47px 0;
  flex-direction: column;
}

.explore__item:not(:last-child) {
  border-right: 2px solid #dcdcdc;
}

.explore__item:not(:first-child) {
  padding-left: 1.75rem;
}

.explore-item__text {
  width: 350px;
}
.explore-item__text span {
  display: block;
}

.help {
  color: #ffffff;
  background-color: #212439;
}

.help__inner {
  position: relative;
  padding: 84px 0 33px 0;
}

.help__title {
  max-width: 613px;
  margin: 0 auto;
  margin-bottom: 262px;
}

.help__text {
  max-width: 728px;
}

.background-svg {
  position: absolute;
  top: -111px;
  left: 0;
  z-index: 1;
}

.cases__inner {
  background-image: url("/assets/images/casesbg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.slider {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 128.8px;
  padding-bottom: 120px;
}

.slider__item {
  display: flex;
  align-items: stretch;
  z-index: 1;
  gap: 28px;
}

.slider__link {
  display: flex;
  align-items: stretch;
  overflow: hidden;
  border: 1px solid #b0b0b0;
}

.slider__link--1 {
  border-radius: 100px 0px 0px 0px;
}

.slider__link--2 {
  margin-bottom: 22px;
}

.slider__link--3 {
  border-radius: 100px 0px 100px 100px;
}

.slider__image {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cases__planet-img {
  position: absolute;
  top: 44px;
  right: 27px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Outfit";
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

main section {
  margin-bottom: 120px;
}

.full-screen-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  max-width: 80.5rem;
  padding: 0 0.625rem;
  margin: 0 auto;
}

.heading--large {
  font-weight: 500;
  font-size: 5.5rem;
  line-height: 6.625rem;
  letter-spacing: 0.03em;
}

.heading--medium {
  font-weight: 600;
  font-size: 2.625rem;
  line-height: 3.675rem;
  letter-spacing: 0.03em;
}

.heading--small {
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 3.15rem;
  letter-spacing: 0.03em;
}

.heading--smaller {
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 2.45rem;
  letter-spacing: 0.03em;
}

.text--large {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.125rem;
  letter-spacing: 0.03em;
}

.text--medium {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 0em;
}

.text--small {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: 0.03em;
}

.button__text--large {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
  letter-spacing: 0em;
}

.button__text--medium {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5625rem;
  letter-spacing: 0em;
}

.button {
  cursor: pointer;
  border: 0.0625rem solid;
}

.button--secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-color: #dcdcdc;
  transition: all 0.3s ease;
}
.button--secondary:hover {
  color: #515bf6;
  border-color: #515bf6;
}
.button--secondary:active {
  color: #212121;
  background-color: #e8eaf2;
  border-color: #e8eaf2;
}

.button--primary {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #515bf6;
  color: #ffffff;
  border-color: #212121;
  transition: all 0.3s ease;
}
.button--primary:hover {
  background-color: #4139be;
  border-color: #212121;
}
.button--primary:active {
  color: #212121;
  background-color: #e5ffaf;
}

.gray-line {
  height: 2px;
  background-color: #dcdcdc;
}

.section-title__inner {
  display: flex;
  gap: 0.9375rem;
  margin-bottom: 2.5rem;
}

.rectangle-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  background: #c4fc50;
  border: 1px solid #212121;
}