*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Outfit";
}

h1 {
  font-weight: 500;
  font-size: 5.5rem;
  line-height: 6.625rem;
  letter-spacing: 0.03em;
}

h2 {
  font-weight: 600;
  font-size: 2.625rem;
  line-height: 3.675rem;
  letter-spacing: 0.03em;
}

h3 {
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 3.15rem;
  letter-spacing: 0.03em;
}

h4 {
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 2.45rem;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
  color: #ffffff;
}

li {
  list-style: none;
}

main section:not(.cases) {
  padding-bottom: 120px;
}
@media (max-width: 768px) {
  main section:not(.cases) {
    padding-bottom: 80px;
  }
}
@media (max-width: 375px) {
  main section:not(.cases) {
    padding-bottom: 0px;
  }
}

button {
  cursor: pointer;
}

img {
  width: 100%;
  object-fit: cover;
}

.full-screen-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  max-width: 80.5rem;
  padding: 0 0.625rem;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .container {
    max-width: calc(716px + 1.25rem);
  }
}
@media (max-width: 375px) {
  .container {
    max-width: calc(335px + 1.25rem);
  }
}

.heading--large {
  font-weight: 500;
  font-size: 5.5rem;
  line-height: 6.625rem;
  letter-spacing: 0.03em;
}

.heading--medium {
  font-weight: 600;
  font-size: 2.625rem;
  line-height: 3.675rem;
  letter-spacing: 0.03em;
}

.heading--small {
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 3.15rem;
  letter-spacing: 0.03em;
}

.heading--smaller {
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 2.45rem;
  letter-spacing: 0.03em;
}

.text--large {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.125rem;
  letter-spacing: 0.03em;
}

.text--medium {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: 0em;
}

.text--small {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375rem;
  letter-spacing: 0.03em;
}

.button__text--large {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
  letter-spacing: 0em;
}

.button__text--medium {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5625rem;
  letter-spacing: 0em;
}

.button {
  cursor: pointer;
  border: 0.0625rem solid;
}

.button--secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-color: #dcdcdc;
  transition: all 0.3s ease;
}
.button--secondary:hover {
  color: #515bf6;
  border-color: #515bf6;
}
.button--secondary:active {
  color: #212121;
  background-color: #e8eaf2;
  border-color: #e8eaf2;
}

.button--primary {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #515bf6;
  color: #ffffff;
  border-color: #212121;
  transition: all 0.3s ease;
  padding: 1rem 3.2813rem;
}
.button--primary:hover {
  background-color: #4139be;
  border-color: #212121;
}
.button--primary:active {
  color: #212121;
  background-color: #e5ffaf;
}
@media (max-width: 768px) {
  .button--primary {
    padding: 14px 45.5px;
  }
}

.gray-line {
  height: 2px;
  background-color: #dcdcdc;
}

.section-title__inner {
  display: flex;
  gap: 0.9375rem;
  margin-bottom: 2.5rem;
}
@media (max-width: 768px) {
  .section-title__inner {
    display: flex;
    gap: 15px;
    margin-bottom: 12px;
  }
}

.section-title__heading {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .section-title__heading {
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 2.45rem;
    letter-spacing: 0.03em;
  }
}
@media (max-width: 375px) {
  .section-title__heading {
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0.02em;
  }
}

.rectangle-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
}
@media (max-width: 768px) {
  .rectangle-arrow {
    width: 50px;
    height: 50px;
  }
}

.header {
  background-color: #212439;
  flex: 0 0 auto;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0px 1.3125rem 0px;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.header__main-nav {
  flex-basis: 41.5625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
}

.header__main-nav-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header__main-nav-link {
  color: #ffffff;
  transition: all 0.3s ease;
}
.header__main-nav-link:hover {
  color: #4139be;
}
.header__main-nav-link:active {
  color: #c4fc50;
}

.header__nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14.5px 50.5px;
}

@media (max-width: 768px) {
  .header__inner {
    padding: 7px 0 8px 0px;
    justify-content: flex-start;
  }
  .header__nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6.5px 24.5px;
    margin: 0 28px 0 auto;
    font-size: 10.6383px;
    line-height: 15px;
  }
  .header__main-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #212439;
    padding-top: 135px;
    padding-left: 46px;
  }
  .header__main-nav.open {
    display: block;
  }
  .header__main-nav-list {
    flex-direction: column;
    gap: 40px;
  }
  .header__main-nav-item {
    font-weight: 600;
    font-size: 2.625rem;
    line-height: 3.675rem;
    letter-spacing: 0.03em;
  }
}
@media (max-width: 375px) {
  .header__inner {
    padding: 5.45px 0 6.31px 0px;
    justify-content: space-between;
  }
  .header__logo {
    width: 146px;
  }
  .header__nav-button {
    display: none;
  }
  .header__main-nav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #212439;
    padding-top: 135px;
    padding-left: 46px;
  }
  .header__main-nav.open {
    display: block;
  }
  .header__main-nav-list {
    flex-direction: column;
    gap: 40px;
  }
  .header__main-nav-item {
    font-weight: 600;
    font-size: 2.625rem;
    line-height: 3.675rem;
    letter-spacing: 0.03em;
  }
}
.lazy-bison {
  flex: 1 1 auto;
}

.lazy-bison__inner {
  padding-top: 2.875rem;
  background-color: #ffffff;
}

.lazy-bison__title {
  max-width: 1118px;
  margin: 0 auto;
}

.lazy-bison__title span:nth-child(2) {
  padding-left: 102px;
}

.lazy-bison-tittle__text {
  display: flex;
}

.lazy-bison__text--highlight {
  background-color: #c4fc50;
}

.lazy-bison-description__inner {
  display: flex;
}

.lazy-bison-description__info {
  flex-basis: 32rem;
  padding-top: 6.1875rem;
  padding-bottom: 2.25rem;
}

.lazy-bison-description__text {
  margin: 1.5rem 0 4rem 0;
}

.lazy-bison__stats {
  display: flex;
  justify-content: end;
}

.lazy-bison-stats__inner {
  display: flex;
  justify-content: end;
  padding-right: 2.25rem;
}

.lazy-bison__stats {
  flex-basis: 45.5rem;
  justify-content: space-between;
}

.lazy-bison__stats-text {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  font-weight: 700;
  line-height: 4.1875rem;
  letter-spacing: 0.03em;
}

@media (max-width: 768px) {
  .lazy-bison__inner {
    padding-bottom: 5rem;
    padding-top: 28px;
    background-image: url("/assets/images/lazy-bizon-bg-768.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
  }
  .lazy-bison__title {
    font-size: 58.4254px;
    line-height: 70px;
    margin: 0;
  }
  .lazy-bison__title span:nth-child(2) {
    padding-left: 70px;
  }
  .img-planets {
    display: none;
  }
  .gray-line {
    display: none;
  }
  .lazy-bison-description__info {
    flex-basis: 497px;
    padding-top: 0;
    padding-bottom: 41px;
  }
  .lazy-bison-description__text {
    padding-top: 209px;
    margin: 0 0 50px 0;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 0em;
  }
  .lazy-bison-stats__inner {
    max-width: 623px;
    display: flex;
    justify-content: space-between;
    gap: 69px;
    padding-right: 0;
    margin: 0 auto;
  }
  .lazy-bison__stats-text {
    font-size: 48px;
    line-height: 67px;
  }
  .lazy-bison__stats-subtext {
    font-size: 1rem;
    line-height: 1.375rem;
  }
}
@media (max-width: 375px) {
  .lazy-bison {
    background-image: url("/assets/images/lazy-bizon-bg-375.svg");
    background-position: 0 -37px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    padding-bottom: 74px;
    padding-top: 54px;
  }
  .lazy-bison__inner {
    padding-bottom: 0;
    background: none;
  }
  .lazy-bison__title {
    width: 335px;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 0.03em;
  }
  .lazy-bison__title span:nth-child(2) {
    padding-left: 40px;
  }
  .lazy-bison__title span:nth-child(3) {
    padding-left: 110px;
  }
  .img-planets {
    display: none;
  }
  .gray-line {
    display: none;
  }
  .lazy-bison-description__info {
    flex-basis: 497px;
    display: flex;
    flex-direction: column;
    padding-bottom: 61px;
  }
  .lazy-bison-description__text {
    padding-top: 117px;
    margin: 0 0 50px 0;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0em;
  }
  .lazy-bison__stats {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 48px 40px;
    flex-basis: 45.5rem;
  }
  .lazy-bison-stats__inner {
    background-image: url("/assets/images/stats-bg-375.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    max-width: 100%;
    display: flex;
    padding: 60px 0 78px 0;
    justify-content: space-between;
    gap: 69px;
    margin: 0 auto;
  }
  .lazy-bison__stats-text {
    font-size: 42px;
    line-height: 50px;
  }
  .lazy-bison__stats-subtext {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.03em;
  }
}
.services {
  background-image: url("/assets/images/services-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}

.services__gray-line {
  margin-bottom: 5rem;
}

.services-info {
  background-image: url("/assets/images/services-info-bg.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}

.services-info__inner {
  display: flex;
  gap: 29px;
  color: #ffffff;
}

.services-info__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 728px;
  padding-top: 56px;
}

.services-info__title {
  text-align: center;
}

.services-info__gray-line {
  width: 17.625rem;
  margin: 1.125rem 0 1.3125rem 0;
}

.services-info__description-text {
  max-width: 512px;
  min-height: 224px;
  margin-bottom: 4.8125rem;
}

.services-info__button {
  padding: 1rem 3.2813rem;
}

.services-info__types {
  width: 404px;
  padding-top: 44px;
}

.services-info__type-button {
  width: 100%;
  height: 72px;
  color: #212121;
  background: #e5ffaf;
  border: 0.0625rem dashed #b0b0b0;
  cursor: pointer;
}
.services-info__type-button:hover {
  background-color: #ffffff;
}
.services-info__type-button:active {
  background: #e5ffaf;
  font-weight: 600;
}

@media (max-width: 768px) {
  .services {
    background-image: url("/assets/images/services-bg-768.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
  }
  .services .section-title__inner {
    margin-bottom: 58px;
  }
  .services .services__inner {
    padding-bottom: 56px;
  }
  .services-info {
    background-image: url("/assets/images/services-info-bg-768.png");
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
  }
  .services__gray-line {
    display: none;
  }
  .services-info__inner {
    gap: 29px;
  }
  .services-info__title {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.75rem;
  }
  .services-info__description {
    flex-basis: 409px;
    padding-top: 31px;
  }
  .services-info__description-text {
    max-width: 288px;
    min-height: 180px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 55px;
  }
  .services-info__types {
    width: 264px;
    padding-top: 25px;
  }
  .services-info__type-button {
    height: 44px;
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 375px) {
  .services {
    background: none;
  }
  .services .section-title__inner {
    margin-bottom: 30px;
  }
  .services .services__inner {
    padding-bottom: 56px;
  }
  .services {
    background-image: url("/assets/images/services-info-bg-375.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
  }
  .services__gray-line {
    display: none;
  }
  .services-info__inner {
    flex-direction: column-reverse;
    align-items: center;
    gap: 12px;
  }
  .services-info__title {
    display: none;
  }
  .services-info__description {
    color: #212121;
    flex-basis: 0px;
    padding-top: 0px;
  }
  li .services-info__description-text {
    display: block;
    max-width: 100%;
    padding: 12px;
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.03em;
  }
  .services-info__description-text {
    display: none;
  }
  .services-info__types {
    width: 319px;
    padding-top: 35px;
  }
  .services-info__type-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px 0 12px;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.03em;
  }
  .services-info__type-button:after {
    content: url("/assets/icons/shevronDown.svg");
    display: block;
  }
}
.services-info__type-button.active:after {
  content: url("/assets/icons/shevronDown.svg");
  display: block;
  transform: rotate(180deg);
}

.explore__list {
  display: flex;
  border-top: 0.125rem solid #dcdcdc;
}

.explore-item__title {
  margin-bottom: 1.5rem;
}

.explore__item {
  display: flex;
  padding: 2.5rem 0 2.9375rem 0;
  flex-direction: column;
}

.explore__item:not(:first-child) {
  padding-left: 1.75rem;
}

.explore__item:not(:last-child) {
  border-right: 2px solid #dcdcdc;
}

.explore__item:nth-child(1) {
  width: 392px;
}

.explore__item:nth-child(2) {
  flex-grow: 1;
}

.explore__item:nth-child(3) {
  width: 388px;
}

.explore-item__text {
  width: 21.875rem;
}
.explore-item__text span {
  display: block;
}

.help {
  color: #ffffff;
  background-color: #212439;
}

.help__inner {
  position: relative;
  padding: 5.25rem 0 2.0625rem 0;
}

.help__title {
  max-width: 38.3125rem;
  margin: 0 auto;
  margin-bottom: 16.375rem;
}

.help__text {
  max-width: 45.5rem;
}

.background-svg {
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: -6.9375rem;
  left: 0;
  z-index: 1;
}

@media (max-width: 768px) {
  .explore-item__title {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 12px;
  }
  .explore__item {
    padding: 20px 0 1.5rem 0;
  }
  .explore__item:not(:first-child) {
    padding-left: 16px;
  }
  .explore__item:not(:last-child) {
    border-right: 2px solid #dcdcdc;
  }
  .explore__item:nth-child(1) {
    max-width: 219.66px;
  }
  .explore__item:nth-child(2) {
    flex-grow: 1;
  }
  .explore__item:nth-child(2) .explore-item__text {
    max-width: 220px;
  }
  .explore__item:nth-child(3) {
    max-width: 225px;
  }
  .explore-item__text {
    max-width: 252px;
    font-size: 14px;
    line-height: 20px;
  }
  .help {
    color: #ffffff;
    background-color: #212439;
  }
  .help__inner {
    padding: 58.02px 0 27px 0;
  }
  .help__title {
    width: 405px;
    margin-bottom: 154.97px;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 2.45rem;
    letter-spacing: 0.03em;
  }
  .help__text {
    max-width: 423px;
    font-size: 14px;
    line-height: 20px;
  }
  .background-svg {
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: -0.0625rem;
    left: 0;
    z-index: 1;
  }
}
@media (max-width: 375px) {
  .explore__list {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    border-left: 0.125rem solid #dcdcdc;
  }
  .explore__item:not(:last-child) {
    border-bottom: 0.125rem solid #dcdcdc;
    border-right: none;
  }
  .explore__item:nth-child(1) {
    max-width: 100%;
  }
  .explore__item {
    padding: 24px 0 24px 24px;
  }
  .explore-item__text {
    display: flex;
    flex-direction: column;
    gap: 2.91px;
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.03em;
  }
  .explore__item:nth-child(2) .explore-item__text {
    max-width: 100%;
  }
  .help {
    background-image: url("/assets/images/wehelp-bg-375.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
  }
  .help__inner {
    padding: 35px 0 93px 0;
  }
  .help__title {
    width: 250px;
    margin: 0 0 34px 0;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0.03em;
  }
  .background-svg {
    visibility: hidden;
  }
}
.cases__inner {
  background-image: url("/assets/images/casesbg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

/* swiper-bullets styling */
.slider-container {
  position: relative;
  padding-top: 8.05rem;
  padding-bottom: 7.5rem;
  overflow: hidden;
  width: 100%;
}

.swiper-wrapper {
  display: grid;
  justify-content: center;
  grid-template-columns: 620px 404px;
  grid-column-gap: 28px;
  grid-row-gap: 22px;
}

.project-slide {
  overflow: hidden;
}
.project-slide img {
  border: 1px solid #b0b0b0;
}

.swiper-wrapper .swiper-slide:nth-child(1) {
  grid-area: 1/1/3/2;
}
.swiper-wrapper .swiper-slide:nth-child(1) img {
  border-radius: 100px 0px 0px 0px;
}

.swiper-wrapper .swiper-slide:nth-child(2) {
  grid-area: 1/2/2/3;
}

.swiper-wrapper .swiper-slide:nth-child(3) {
  grid-area: 2/2/3/3;
}
.swiper-wrapper .swiper-slide:nth-child(3) img {
  border-radius: 100px 0px 100px 100px;
}

.cases__planet-img {
  width: 170px;
  height: 170px;
  position: absolute;
  top: 2.75rem;
  right: 1.6875rem;
}

@media (max-width: 768px) {
  .cases__inner {
    background-image: url("/assets/images/casesbg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    display: flex;
    flex-direction: column;
  }
  .slider-container {
    padding-top: 83px;
    padding-bottom: 80px;
  }
  .swiper-wrapper {
    display: grid;
    justify-content: center;
    grid-template-columns: 392px 255px;
    grid-column-gap: 17px;
    grid-row-gap: 14px;
  }
  .cases__planet-img {
    width: 108.44px;
    height: 107.42px;
    position: absolute;
    top: 1.75rem;
    right: -1.5rem;
  }
}
@media (max-width: 375px) {
  .cases__inner {
    background-image: url("/assets/images/casesbg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    display: flex;
    flex-direction: column;
  }
  .cases__inner .gray-line {
    display: block;
  }
  .swiper-wrapper {
    display: flex;
    justify-content: initial;
    grid-template-columns: initial;
    grid-column-gap: initial;
    grid-row-gap: initial;
  }
  .slider-container {
    padding-top: 25px;
    padding-bottom: 28px;
    margin-bottom: 50.5px;
  }
  .slider__image {
    border-radius: 0;
  }
}
.testimonials__inner {
  position: relative;
}

.testimonials__title {
  margin-bottom: 1.125rem;
}

.testimonials__gray-line {
  margin-bottom: 3.125rem;
}

.testimonials__subtitle {
  max-width: 32rem;
}

.vertical-gray-line-1,
.vertical-gray-line-2,
.vertical-gray-line-3,
.vertical-gray-line-4 {
  top: 0;
  position: absolute;
  height: 0.0625rem;
}

.vertical-gray-line-1 {
  left: 157px;
  width: 28.4375rem;
  transform: rotate(90deg) translateY(0) translateX(226px);
}

.vertical-gray-line-2 {
  width: 388px;
  left: 90px;
  transform: rotate(90deg) translateY(-337px) translateX(192px);
}

.vertical-gray-line-3 {
  width: 275px;
  right: 250px;
  transform: rotate(90deg) translateY(0) translateX(137px);
}

.vertical-gray-line-4 {
  top: 0;
  right: -92px;
  width: 34.8125rem;
  transform: rotate(90deg) translateY(0) translateX(279px);
}

.workers-background {
  background-image: url("/assets/images/workers-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
}

.workers__list {
  position: relative;
  height: 35.3125rem;
  display: flex;
  align-items: stretch;
  gap: 1.75rem;
}

.workers__item:nth-child(1) {
  bottom: 4px;
  left: 0;
}

.workers__item:nth-child(2) {
  top: 98px;
  left: 34%;
}

.workers__item:nth-child(3) {
  top: -60px;
  right: 0;
}

.workers__item:nth-child(4) {
  bottom: -82px;
  right: 0;
}

.workers__item {
  position: absolute;
}

.card {
  position: relative;
  padding: 5.75rem 1.375rem 2.75rem 1.375rem;
  width: 25.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #b0b0b0;
}

.avatar {
  position: absolute;
  top: -4.875rem;
  bottom: 0;
  width: 9.0625rem;
  height: 9.0625rem;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
  letter-spacing: 0em;
}

.position {
  text-align: center;
  font-size: 1rem;
  color: #888888;
}

.description {
  margin-top: 0.625rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.card__content {
  max-width: 22.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
}

.consultation {
  background-image: url("/assets/images/casesbg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  padding: 15.6875rem 0 7.5rem 0;
}

.consultation__inner {
  position: relative;
  background-image: url("/assets/images/consultation-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  max-width: 65.75rem;
  max-height: 16.3125rem;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 2.625rem;
  padding: 3.25rem 0 2.4375rem 0;
  margin: 0 auto;
  color: #ffffff;
}

.consultation__planet-img {
  width: 145px;
  height: 145px;
  position: absolute;
  z-index: -1;
  top: -41px;
  left: -36px;
}

.consultation__description {
  max-width: 36.375rem;
  margin-right: 3.875rem;
}

.consultation__inner .button {
  margin-right: 13.25rem;
}

@media (max-width: 768px) {
  .workers-background {
    background-image: url(/assets//images//workers-bg-768px.png);
  }
  .testimonials__gray-line {
    margin-bottom: 20px;
  }
  .testimonials__title {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 13px;
  }
  .testimonials__subtitle {
    max-width: 346px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375rem;
    letter-spacing: 0.03em;
    margin-bottom: 11px;
  }
  .workers__list {
    position: relative;
    height: 427px;
    display: flex;
    align-items: stretch;
    gap: 1.75rem;
  }
  .vertical-gray-line-1 {
    left: 232px;
  }
  .vertical-gray-line-2 {
    width: 246px;
    left: auto;
    right: -32px;
    transform: rotate(90deg) translateY(0) translateX(124px);
  }
  .vertical-gray-line-3 {
    left: 164px;
    right: auto;
  }
  .vertical-gray-line-4 {
    left: -183px;
    right: auto;
  }
  .workers__item:nth-child(1) {
    top: 41.19px;
    left: 92px;
  }
  .workers__item:nth-child(2) {
    top: auto;
    left: auto;
    right: 91px;
    bottom: 34px;
  }
  .workers__item:nth-child(3) {
    top: -38px;
    right: 0;
  }
  .workers__item:nth-child(4) {
    bottom: -46.84px;
    left: 0;
  }
  .card {
    padding: 58.3px 13.4px 12.13px 13.4px;
    width: 256px;
  }
  .avatar {
    position: absolute;
    top: -46px;
    bottom: 0;
    width: 98.88px;
    height: 98.88px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
  }
  .card__content {
    max-width: 228.12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6.34px;
  }
  .name {
    font-size: 16px;
    line-height: 22px;
    line-height: 22px;
  }
  .position {
    font-size: 12px;
    line-height: 16.8px;
  }
  .description {
    margin-top: 0;
    font-size: 12px;
    line-height: 16.8px;
    letter-spacing: 0.3px;
  }
  .consultation {
    background-image: url(/assets/images/cases-bg-768.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    padding: 15.6875rem 0 7.5rem 0;
  }
  .consultation__inner {
    background-image: url("/assets/images/consultation-bg-768.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    padding: 49px 0 29px 0;
    gap: 1.5625rem;
    max-width: 656px;
    max-height: 198px;
  }
  .consultation__description {
    max-width: 369.77px;
    margin-right: 27.4px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.375rem;
    letter-spacing: 0.03em;
  }
  .consultation__inner .button {
    padding: 14px 45.5px;
    margin-right: 71.37px;
    font-size: 17.2973px;
    line-height: 24px;
  }
  .consultation__planet-img {
    position: absolute;
    width: 107.57px;
    height: 107.55px;
    z-index: -1;
    top: -23px;
    left: -32px;
  }
}
.footer {
  background-color: #212439;
  color: #ffffff;
}
.footer a {
  color: #ffffff;
  transition: all 0.3s ease;
}
.footer a:hover {
  color: #4139be;
}
.footer a:active {
  color: #c4fc50;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  padding: 29px 54px 23px 0;
}

.footer__logo-rights {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__logo {
  height: auto;
}

.footer__menu-title,
.footer__contacts-title {
  margin-bottom: 16px;
}

.footer__menu {
  padding-bottom: 29px;
}

.footer-menu__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__contacts {
  max-width: 350px;
  display: flex;
  flex-direction: column;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  gap: 12px 28px;
  margin-bottom: 32px;
}

.social-media {
  display: flex;
  gap: 40px;
}
.social-media .icon {
  width: 32px;
  height: 32px;
}

@media (max-width: 768px) {
  .footer__inner {
    display: flex;
    justify-content: space-between;
    padding: 0px 19px 0px 0;
  }
  .footer__logo-rights {
    padding: 14px 0 13px 0;
  }
  .rights {
    font-size: 8px;
    line-height: 11px;
  }
  .footer__contacts h4,
  .footer__menu h4 {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 8.53px;
  }
  .footer__menu {
    padding: 13px 0 22px 0;
  }
  .footer__contacts {
    max-width: 216px;
    padding: 13px 10px 26px 0;
    flex-wrap: nowrap;
  }
  .contact-info {
    display: flex;
    flex-wrap: wrap;
    gap: 6.4px 14.93px;
    margin-bottom: 17.7px;
  }
  .footer-menu__list,
  .footer__contacts {
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.02px;
    gap: 6.4px;
  }
  .social-media .icon {
    width: 20px;
    height: 20px;
  }
  .social-media {
    gap: 21.33px;
  }
}
.popup__get-consultation {
  background-image: url("/assets/images/consulatation-popup-bg.png");
  background-position: initial;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  padding: 3.8125rem 5.4375rem 3.75rem 5.4375rem;
}
.popup__get-consultation .popup__content {
  max-width: 26.625rem;
}
.popup__get-consultation .get-consultation__title {
  margin-bottom: 0.25rem;
}
.popup__get-consultation .get-consultation__subtitle {
  text-align: center;
  margin-bottom: 2.5rem;
}
.popup__get-consultation .form-group {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2.5rem;
}
.popup__get-consultation input[type=email] {
  padding: 0.6875rem 0 0.6875rem 1rem;
  width: 100%;
}
.popup__get-consultation textarea {
  padding: 0.6875rem 0 0 1rem;
  width: 100%;
  height: 9.2319rem;
  resize: none;
}
.popup__get-consultation input[type=email]::placeholder,
.popup__get-consultation textarea::placeholder {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
  letter-spacing: 0.03em;
}
.popup__get-consultation input[type=email],
.popup__get-consultation textarea {
  border: 0.0625rem solid #212121;
}
.popup__get-consultation .checkbox-label {
  display: flex;
  align-items: center;
}
.popup__get-consultation input[type=checkbox] {
  width: 1rem;
  height: 1rem;
  margin-right: 0.75rem;
}
.popup__get-consultation .character-count {
  color: #6a6a6a;
  text-align: end;
}
.popup__get-consultation .form-actions {
  display: flex;
  gap: 2rem;
  justify-content: end;
}
.popup__get-consultation .btn-cancel,
.popup__get-consultation .btn-submit {
  padding: 1rem 2rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.popup__get-consultation .btn-cancel {
  background: #ffffff;
  border: 0.0625rem solid #6a6a6a;
}
.popup__get-consultation .btn-submit {
  color: #ffffff;
  font-weight: 600;
  background-color: #515bf6;
  border: 0.0625rem solid #b0b0b0;
}

.project__inner {
  display: flex;
}

.project__description {
  padding: 4.3125rem 0 2.4375rem 0;
  border-right: 2px solid #dcdcdc;
}

.project__title {
  padding-left: 5.875rem;
  margin-bottom: 2.0625rem;
}

.project__description-text {
  width: 32rem;
  padding: 1.9375rem 1.875rem 2.8125rem 5.875rem;
  margin-bottom: 5.625rem;
  background-color: #e5ffaf;
}

.name-app__inner {
  display: flex;
  justify-content: end;
  padding-right: 0.625rem;
  gap: 0.625rem;
}

.name-app__title {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #212121;
}

.project__img-img {
  object-fit: cover;
  margin: 4.3125rem 5.8125rem 4.375rem 6.6875rem;
  border: 0.25rem solid #c4fc50;
  width: 25.25rem;
  height: 30.3125rem;
}

.popup {
  position: relative;
  border-radius: 1.875rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 9999;
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 9998;
}

.close-popup-button {
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 1.5rem;
  right: 1.3125rem;
}

.burger-menu-button {
  display: none;
  width: 40px;
  height: 22px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.line {
  width: 32px;
  height: 2px;
  background-color: #ffffff;
  transition: transform 0.3s ease;
}

.line:nth-child(2) {
  width: 100%;
}

.burger-menu-button.open .line:first-child {
  width: 24px;
  transform: translateY(14px) rotate(45deg);
}

.burger-menu-button.open .line:nth-child(2) {
  opacity: 0;
}

.burger-menu-button.open .line:last-child {
  width: 24px;
  transform: translateY(-6px) rotate(-45deg);
}

@media (max-width: 768px) {
  .burger-menu-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
  }
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  display: flex;
  justify-content: center;
  gap: 7px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background-color: #dcdcdc;
}

.swiper-pagination-bullet-active {
  background-color: #9f9dbc;
}