.testimonials__container {
	position: relative;

	.planet-blue {
		width: 10rem;
		height: 10rem;
		position: absolute;
		top: -8.3125rem;
		right: -4.0625rem;
	}
}

.testimonials__title,
.testimonials__subtitle {
	position: relative;
	z-index: 1;
}

.testimonials__title {
	margin-bottom: 1.125rem;
}

.testimonials__gray-line {
	margin-bottom: 3.125rem;
}

.testimonials__subtitle {
	max-width: 32rem;
}

.vertical-gray-line-1,
.vertical-gray-line-2,
.vertical-gray-line-3,
.vertical-gray-line-4 {
	top: 0;
	position: absolute;
	z-index: 1;
}

.vertical-gray-line-1 {
	height: 30.6875rem;
	left: 7.3125rem;
}

.vertical-gray-line-2 {
	height: 17.5625rem;
	left: 34.1875rem;
}

.vertical-gray-line-3 {
	height: 7.8125rem;
	right: 19.25rem;
}

.vertical-gray-line-4 {
	height: 35.125rem;
	top: 0;
	right: 7.5rem;
}

.workers-background {
	position: relative;
	@include background("../../assets/images/sections/section-testimonials/workers-bg.svg", center, no-repeat, contain);
	background-color: $color-light-green;
}

.swiper.workers-swiper {
	overflow: visible;
	position: relative;
	height: 35.3125rem;
}

.workers__list > *:nth-child(n + 5) {
  visibility: hidden;
}

.workers__list {
	transition: opacity $duration-workers-opacity $transition-easing;
}

.workers__list.fade-out {
	opacity: 0;
}

.workers__item {
	&:nth-child(1) {
		bottom: -2.875rem;
		left: 0.6875rem;
	}

	&:nth-child(2) {
		top: 6.5rem;
		left: 27.625rem;
	}

	&:nth-child(3) {
		top: -3.3125rem;
		right: 0.5625rem;
	}

	&:nth-child(4) {
		bottom: -15.0625rem;
		right: 0.625rem;
	}
}

.workers__item {
	position: absolute;
}

.card {
	padding: 3.875rem 1.375rem 1.75rem 1.375rem;
	background-color: $color-white;
	border: 0.0625rem solid $color-grey;
	position: relative;
	width: 25.25rem;
	height: 376px;
	display: flex;
	justify-content: end;
	flex-direction: column;
	align-items: center;
}

.avatar {
	position: absolute;
	top: -5.6875rem;
	bottom: 0;
	width: 9.0625rem;
	height: 9.0625rem;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
}

.name {
	font-size: 1.25rem;
	font-weight: 600;
	line-height: 1.75rem;
	letter-spacing: 0em;
	margin-bottom: 0.0625rem;
}

.position {
	text-align: center;
	color: #888888;
}

.description {
	font-size: 1rem;
	line-height: 1.5;
	letter-spacing: 0.03rem;
}

.card__content {
  flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.375rem;
}
.consultation {
	@include background("../../assets/images/sections/section-cases/cases-bg.svg", center, no-repeat, cover);
	padding: 15.6875rem 0 7.5rem 0;
}

.consultation__inner {
	position: relative;
	@include background(
		"../../assets/images/sections/section-testimonials/consultation-bg.svg",
		center,
		no-repeat,
		contain
	);
	max-width: 65.75rem;
	max-height: 16.3125rem;
	display: flex;
	flex-direction: column;
	align-items: end;
	gap: 2.625rem;
	padding: 3.25rem 0 2.4375rem 0;
	margin: 0 auto;
	color: $color-white;

	.planet-text {
		position: absolute;
		z-index: -1;
		top: -1.125rem;
		left: -1rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.planet-blue {
		width: 7.5rem;
		height: 7.5rem;
	}
}

.consultation__planet-img {
	width: 9.0625rem;
	height: 9.0625rem;
	position: absolute;
	z-index: -1;
	top: -2.5625rem;
	left: -2.25rem;
}

.consultation__description {
	max-width: 36.375rem;
	margin-right: 3.875rem;
}

.consultation__inner .button {
	margin-right: 13.25rem;
}

@media (max-width: $breakpoint-lg) {
	.consultation__inner {
		.planet-blue {
			width: 4.7363rem;
			height: 4.7363rem;
			top: -0.125rem;
			left: -1.5rem;
		}
		.circle-ruby-on-rails {
			width: 6.7231rem;
			height: 6.7219rem;
			top: -1.1875rem;
			left: -2.5625rem;
		}
	}

	.workers-background {
		background-image: url("../../assets/images/sections/section-testimonials/workers-bg-768px.svg");
		.planet-blue {
			display: none;
		}
	}

	.swiper.workers-swiper {
		height: 38rem;
	}

	.testimonials__gray-line {
		margin-bottom: 1.25rem;
	}

	.testimonials__title {
		font-size: 1.25rem;
		line-height: 1.75rem;
		margin-bottom: 0.8125rem;
	}

	.testimonials__subtitle {
		max-width: 21.625rem;
		@include text--small;
		margin-bottom: 0.6875rem;
	}

	.vertical-gray-line-1 {
		left: 4.125rem;
		height: 30.875rem;
	}

	.vertical-gray-line-2 {
		left: 16.625rem;
		height: 18rem;
	}

	.vertical-gray-line-3 {
		right: 17.6875rem;
		height: 25.3125rem;
	}

	.vertical-gray-line-4 {
		right: 4.5rem;
		height: 12.5rem;
	}

	.workers__list {
		height: 26.6875rem;
	}

	.workers__item:nth-child(1) {
		bottom: -12.875rem;
		left: -0.5rem;
	}

	.workers__item:nth-child(2) {
		top: 2.4375rem;
		left: 2.75rem;
	}

	.workers__item:nth-child(3) {
		top: -2.3125rem;
		right: -0.125rem;
	}

	.workers__item:nth-child(4) {
		bottom: -7.375rem;
		right: 3.75rem;
	}

	.card {
		width: 18.75rem;
	}

	.avatar {
		top: -2.75rem;
		bottom: 0;
		width: 6.18rem;
		height: 6.18rem;
	}

	.card__content {
		padding: 3.6437rem 0.8375rem 0.7581rem 0.8375rem;
		gap: 0.3962rem;
	}

	.name {
		font-size: 1rem;
		line-height: 1.375rem;
	}

	.position {
		font-size: 0.75rem;
		line-height: 1.05rem;
	}

	.description {
		margin-top: 0;
		font-size: 0.75rem;
		line-height: 1.05rem;
		letter-spacing: 0.0187rem;
		text-align: justify;
	}

	.consultation {
		background-image: url("../../assets/images/sections/section-cases/cases-bg-768.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-color: transparent;
		padding: 9.8125rem 0 5rem 0;
	}

	.consultation__inner {
		@include background(
			"../../assets/images/sections/section-testimonials/consultation-bg-768.svg",
			center,
			no-repeat,
			contain
		);
		padding: 3.0625rem 0 1.8125rem 0;
		gap: 1.5625rem;
		max-width: 41rem;
		max-height: 12.375rem;

		.planet-text {
			top: -0.0625rem;
			left: 0.1875rem;
		}
	}

	.gray-line {
		display: block;
	}

	.consultation__description {
		max-width: 23.1106rem;
		margin-right: 1.7125rem;
		@include text--small;
	}

	.consultation__inner .button {
		padding: 0.875rem 4.4rem;
		margin-right: 4.4375rem;
	}
}

@media (max-width: $breakpoint-md) {
	.workers-background {
		background-image: none;
		background-color: $color-light-green;
		position: relative;
		height: 16.0625rem;
	}

	.testimonials__gray-line {
		display: block;
		margin-bottom: 1.125rem;
	}

	.vertical-gray-line-1,
	.vertical-gray-line-2,
	.vertical-gray-line-3,
	.vertical-gray-line-4 {
		display: none;
	}

	.testimonials__subtitle {
		margin-bottom: 2.5rem;
	}

	.swiper.workers-swiper {
		display: flex;
		width: 100%;
		height: 25.25rem;
		gap: 0;
		overflow: hidden;
		position: relative;
		top: -1.5rem;
	}
	.workers__list {
		height: auto;
	}

	.workers__list > *:nth-child(n + 5) {
		visibility: visible;
	  }
	  
	.workers__item {
		position: initial;
	}

	.avatar {
		top: -3.375rem;
	}

	.card__content {
		padding: 3.125rem 1rem 1rem 1rem;
	}

	.card {
		position: absolute;
		top: 14%;
		width: 100%;
	}

	.position,
	.description {
		font-size: 0.875rem;
		line-height: 1.25rem;
		letter-spacing: 0.025rem;
	}

	.consultation {
		padding: 10.5rem 0 3.75rem 0;
	}

	.consultation__inner {
		background-image: url("../../assets/images/sections/section-testimonials/consultation-bg-375.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		background-color: transparent;
		padding: 1.875rem 0 9.75rem 0;
		gap: 1.5rem;
		width: auto;
		max-height: 20.9375rem;

		.planet-text {
			left: auto;
			right: 0.5625rem;
		}

		.planet-blue {
			width: 4.25rem;
			height: 4.25rem;
			top: -1.3125rem;
			left: auto;
			right: -0.375rem;
		}

		.circle-ruby-on-rails {
			width: 5.9375rem;
			height: 6.0675rem;
			top: -2.3125rem;
			left: auto;
			right: -1.25rem;
		}
	}

	.consultation__description {
		max-width: 18.5625rem;
		margin: 0 auto;
	}

	.consultation__inner .button {
		padding: 0.875rem 2.8438rem;
		margin: 0 auto;
	}

	.consultation__planet-img {
		width: 5.625rem;
		height: 5.625rem;
		top: -2rem;
		left: auto;
		right: -1.125rem;
	}
}
