.explore__list {
	display: flex;
	border-top: 0.125rem solid $color-light-grey;
}
.explore-item__title {
	margin-bottom: 1.5rem;
}

.explore__item {
	display: flex;
	padding: 2.5rem 0 2.9375rem 0;
	flex-direction: column;
}
.explore__item:not(:first-child) {
	padding-left: 1.75rem;
}

.explore__item:not(:last-child) {
	border-right: 2px solid $color-light-grey;
}

.explore__item:nth-child(1) {
	width: 392px;
}

.explore__item:nth-child(2) {
	flex-grow: 1;
}

.explore__item:nth-child(3) {
	width: 388px;
}

.explore-item__text {
	width: 21.875rem;
	display: flex;
	flex-direction: column;
	gap: 4px;
	span {
		display: block;
	}
}

.help {
	color: $color-white;
	background-color: $color-night-blue;
}

.help__inner {
	position: relative;
	padding: 5.25rem 0 2.0625rem 0;
}

.help__title {
	max-width: 38.3125rem;
	margin: 0 auto;
	margin-bottom: 16.375rem;
}

.help__text {
	max-width: 45.5rem;
}

.background-svg {
	width: 100%;
	object-fit: cover;
	position: absolute;
	top: -6.9375rem;
	left: 0;
	z-index: 1;
}

@media (max-width: 768px) {
	.explore-item__title {
		font-size: 20px;
		line-height: 28px;
		margin-bottom: 12px;
	}

	.explore__item {
		padding: 20px 0 1.5rem 0;
	}

	.explore__item:not(:first-child) {
		padding-left: 16px;
	}

	.explore__item:not(:last-child) {
		border-right: 2px solid $color-light-grey;
	}

	.explore__item:nth-child(1) {
		max-width: 219.66px;
	}

	.explore__item:nth-child(2) {
		flex-grow: 1;

		.explore-item__text {
			max-width: 220px;
		}
	}

	.explore__item:nth-child(3) {
		max-width: 225px;
	}

	.explore-item__text {
		max-width: 252px;
		font-size: 14px;
		line-height: 20px;
	}

	.help {
		color: $color-white;
		background-color: $color-night-blue;
	}

	.help__inner {
		padding: 58.02px 0 27px 0;
	}

	.help__title {
		width: 405px;
		margin-bottom: 154.97px;
		@include heading--smaller;
	}

	.help__text {
		max-width: 423px;
		font-size: 14px;
		line-height: 20px;
	}

	.background-svg {
		width: 100%;
		object-fit: cover;
		position: absolute;
		top: -0.0625rem;
		left: 0;
		z-index: 1;
	}
}

@media (max-width: 375px) {
	.explore__list {
		display: flex;
		flex-direction: column;
		margin-bottom: 60px;
		border-left: 0.125rem solid #dcdcdc;
	}

	.explore__item:not(:last-child) {
		border-bottom: 0.125rem solid #dcdcdc;
		border-right: none;
	}
	.explore__item:nth-child(1) {
		max-width: 100%;
	}

	.explore__item {
		padding: 24px 0 24px 24px;
	}

	.explore-item__text {
		display: flex;
		flex-direction: column;
		gap: 2.91px;
		width: 100%;
		font-size: 16px;
		line-height: 22px;
		letter-spacing: 0.03em;
	}

	.explore__item:nth-child(2) .explore-item__text {
		max-width: 100%;
	}

	.help {
		@include background(
			'/assets/images/wehelp-bg-375.png',
			center,
			no-repeat,
			contain
		);
	}

	.help__inner {
		padding: 35px 0 93px 0;
	}

	.help__title {
		width: 250px;
		margin: 0 0 34px 0;
		font-size: 26px;
		line-height: 36px;
		letter-spacing: 0.03em;
	}

	.background-svg {
		visibility: hidden;
	}
}
