.services {
	@include background(
		'/assets/images/services-bg.png',
		center,
		no-repeat,
		contain
	);
}

.services__inner {
	padding-top: 0.5rem;
}

.services__gray-line {
	margin-bottom: 5.1875rem;
}

.services-info {
	@include background(
		'/assets/images/services-info-bg.png',
		top,
		no-repeat,
		contain
	);
}

.services-info__inner {
	display: flex;
	gap: 1.8125rem;
	color: $color-white;
}

.services-info__description {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-basis: 45.5rem;
	padding-top: 3.5rem;
}

.services-info__title {
	text-align: center;
}

.services-info__description-text {
	max-width: 32rem;
	height: 14rem;
	margin-bottom: 4.8125rem;
}

.services-info__item .services-info__description-text {
	display: none;
}
.services-gray-line__wrapper {
	width: 25.25rem;
}

.services-info__gray-line {
	width: 100%;
	margin: 0.875rem 0 1.3581rem 0;
}

.services-info__button {
	padding: 1rem 3.2813rem;
}

.services-info__types {
	width: 25.25rem;
	padding-top: 2.75rem;
}

.services-info__type-button {
	width: 100%;
	height: 4.5rem;
	color: $color-black;
	background: $color-light-green;
	border: 0.0625rem dashed $color-grey;
	cursor: pointer;
	&:hover {
		background-color: $color-white;
	}
	&.active {
		background: $color-light-green;
		font-weight: 600;
	}
}

@media (max-width: 850px) {
	.services {
		background: none;

		.section-title__inner {
			margin-bottom: 3.625rem;
		}

		.services__inner {
			@include background(
				'/assets/images/services-bg-768.png',
				bottom,
				no-repeat,
				contain
			);
			padding-bottom: 1.875rem;
		}
	}

	.services-info {
		@include background(
			'/assets/images/services-info-bg-768.png',
			top,
			no-repeat,
			contain
		);
	}

	.services__gray-line.gray-line {
		display: none;
	}

	.services-info__inner {
		gap: 1.8125rem;
	}

	.services-gray-line__wrapper {
		width: 14.1875rem;
	}

	.services-info__title {
		font-size: 1.25rem;
		font-weight: 400;
		line-height: 1.75rem;
	}

	.services-info__description {
		flex-basis: 25.5625rem;
		padding-top: 1.9375rem;
	}

	.services-info__description-text {
		max-width: 18rem;
		font-size: 0.875rem;
		line-height: 1.25rem;
		margin-bottom: 3.4375rem;
		overflow: hidden;
	}

	.services-info__types {
		width: 15.5rem;
		padding-top: 1.5625rem;
	}

	.services-info__type-button {
		height: 2.75rem;
		font-size: 0.875rem;
		line-height: 1.25rem;
	}
}

@media (max-width: 23.4375rem) {
	.services {
		@include background(
			'/assets/images/services-info-bg-375.png',
			0 4.9375rem,
			no-repeat,
			contain
		);

		.section-title__inner {
			margin-bottom: 1.875rem;
		}

		.services__inner {
			background: none;
			padding-bottom: 4.125rem;
		}
	}

	.services-info {
		background: none;
		height: 39.3125rem;
	}

	.services__gray-line,
	.services-info__description .services-info__gray-line {
		display: none;
	}

	.services-info__inner {
		flex-direction: column-reverse;
		align-items: center;
		gap: 0.75rem;
	}

	.services-info__title {
		display: none;
	}

	.services-info__description {
		color: $color-black;
		flex-basis: 0rem;
		padding-top: 0rem;
	}

	.services-info__description-text {
		display: none;
	}

	.services-info__item .services-info__description-text {
		display: block;
		overflow: hidden;
		max-height: 0;
		@include text--small;
		margin-bottom: 0;
		margin: 0px;
		&.slide-in-height {
			margin: 12px;
			max-height: 500px;
			transition: max-height 0.3s linear;
		}
	}

	.services-info__types {
		width: 19.9375rem;
		padding-top: 2.1875rem;
	}

	.services-info__type-button {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 0.875rem 0 0.75rem;
		font-size: 1rem;
		line-height: 1.375rem;
		letter-spacing: 0.03em;
	}

	.services-primary__button {
		padding: 0.875rem 4.2188rem;
	}

	.services-info__type-button:after {
		content: url('/assets/icons/shevronDown.svg');
		display: block;
	}
	.services-info__type-button.active:after {
		transform: rotate(180deg);
		transition: all 0.1s linear;
	}
}
