.services {
	@include background(
		'/assets/images/services-bg.png',
		center,
		no-repeat,
		contain
	);
}

.services__gray-line {
	margin-bottom: 5rem;
}

.services-info {
	@include background(
		'/assets/images/services-info-bg.png',
		top,
		no-repeat,
		contain
	);
}

.services-info__inner {
	display: flex;
	gap: 29px;
	color: $color-white;
}

.services-info__description {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-basis: 728px;
	padding-top: 56px;
}

.services-info__title {
	text-align: center;
}

.services-info__gray-line {
	width: 17.625rem;
	margin: 1.125rem 0 1.3125rem 0;
}

.services-info__description-text {
	max-width: 512px;
	min-height: 224px;
	margin-bottom: 4.8125rem;
}

.services-info__item .services-info__description-text {
	display: none;
}

.services-info__button {
	padding: 1rem 3.2813rem;
}

.services-info__types {
	width: 404px;
	padding-top: 44px;
}

.services-info__type-button {
	width: 100%;
	height: 72px;
	color: $color-black;
	background: $color-light-green;
	border: 0.0625rem dashed $color-grey;
	cursor: pointer;
	&:hover {
		background-color: $color-white;
	}
	&:active {
		background: $color-light-green;
		font-weight: 600;
	}
}

@media (max-width: 768px) {
	.services {
		@include background(
			'/assets/images/services-bg-768.png',
			bottom,
			no-repeat,
			contain
		);

		.section-title__inner {
			margin-bottom: 58px;
		}

		.services__inner {
			padding-bottom: 56px;
		}
	}

	.services-info {
		@include background(
			'/assets/images/services-info-bg-768.png',
			top,
			no-repeat,
			contain
		);
	}

	.services__gray-line {
		display: none;
	}

	.services-info__inner {
		gap: 29px;
	}

	.services-info__title {
		font-size: 1.25rem;
		font-weight: 400;
		line-height: 1.75rem;
	}

	.services-info__description {
		flex-basis: 409px;
		padding-top: 31px;
	}

	.services-info__description-text {
		max-width: 288px;
		min-height: 180px;
		font-size: 14px;
		line-height: 20px;
		margin-bottom: 55px;
	}

	.services-info__types {
		width: 264px;
		padding-top: 25px;
	}

	.services-info__type-button {
		height: 44px;
		font-size: 14px;
		line-height: 20px;
	}
}

@media (max-width: 375px) {
	.services {
		background: none;

		.section-title__inner {
			margin-bottom: 30px;
		}

		.services__inner {
			padding-bottom: 56px;
		}
	}

	.services {
		@include background(
			'/assets/images/services-info-bg-375.png',
			center,
			no-repeat,
			contain
		);
	}

	.services__gray-line {
		display: none;
	}

	.services-info__inner {
		flex-direction: column-reverse;
		align-items: center;
		gap: 12px;
	}

	.services-info__title {
		display: none;
	}

	.services-info__description {
		color: $color-black;
		flex-basis: 0px;
		padding-top: 0px;
	}

	.services-info__description-text {
		display: block;
		max-width: 100%;
		padding: 12px;
		margin-bottom: 0px;
		font-size: 16px;
		line-height: 22px;
		letter-spacing: 0.03em;
	}

	.services-info__types {
		width: 319px;
		padding-top: 35px;
	}

	.services-info__type-button {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 14px 0 12px;
		font-size: 16px;
		line-height: 22px;
		letter-spacing: 0.03em;
	}

	.services-info__type-button:after {
		content: url('/assets/icons/shevronDown.svg');
		display: block;
	}
	.services-info__type-button.active:after {
		content: url('/assets/icons/shevronDown.svg');
		display: block;
		transform: rotate(180deg);
	}
}
