.services {
	@include background("../../assets/images/sections/section-services/services-bg.svg", center, no-repeat, contain);
}

.services__inner {
	padding-top: 0.5rem;
}

.services__gray-line {
	margin-bottom: 5.1875rem;
}

.services-info__inner {
	@include background("../../assets/images/sections/section-services/services-info-bg.svg", top, no-repeat, contain);
	display: flex;
	gap: 1.25rem;
	color: $color-white;
}

.services-info__description {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-basis: 46.625rem;
	padding-top: 1.8125rem;
}

.descriptions__content {
	visibility: hidden;
	overflow: hidden;
	height: 0;
	opacity: 0;
	transition: opacity 0.3s ease;
	pointer-events: none;
}

.descriptions__content.show {
	opacity: 1;
	visibility: visible;
	overflow: visible;
	height: auto;
	pointer-events: auto;
}

.services-info__title {
	text-align: center;
}

.services-info__description-text {
	width: 32rem;
}


.services-info__item .services-info__description-text {
	display: none;
}

.services-gray-line__wrapper {
	width: 25.25rem;
	margin: 0 auto;
}

.services-info__gray-line {
	width: 100%;
	margin: .75rem 0 .75rem 0;
}

.services-info__button {
	padding: 1rem 3.2813rem;
}

.services-info__types {
	width: 25.25rem;
	padding-top: 2.75rem;
}

.services-info__type-button {
	width: 100%;
	height: 4.5rem;
	color: $color-black;
	background: $color-light-green;
	border: 0.0625rem dashed $color-grey;
	cursor: pointer;
	&:hover {
		background-color: $color-white;
	}
	&.active {
		background: $color-light-green;
		font-weight: 600;
	}
	@include text--medium;
}

.services-primary__button {
	margin-top: 2rem;
	margin-left: 14.3125rem;
}

@media (max-width: 53.125rem) {
	.services {
		background: none;
		.section-title__inner {
			margin-bottom: 3.625rem;
		}

		.services__inner {
			@include background(
				"../../assets/images/sections/section-services/services-bg-768.svg",
				bottom,
				no-repeat,
				contain
			);
			padding: 0;
		}
	}

	.services-info__inner {
		@include background(
			"../../assets/images/sections/section-services/services-info-bg.svg",
			inherit,
			no-repeat,
			contain
		);
	}

	.services__gray-line.gray-line {
		display: none;
	}

	.services-info__inner {
		gap: 0.8125rem;
	}

	.services-gray-line__wrapper {
		width: 14.1875rem;
	}

	.services-info__title {
		font-size: 1.25rem;
		font-weight: 425;
		line-height: 1.75rem;
	}
	.services-info__gray-line {
		margin: .625rem 0 0.3581rem 0;
	}

	.services-info__description {
		flex-basis: 27.5625rem;
		padding-top: .3125rem;
	}

	.services-info__description-text {
		width: 18rem;
		font-size: .625rem;
		font-style: normal;
		font-weight: 400;
		line-height: 1.225rem;
		margin-bottom: 0.5625rem;
		overflow: hidden;
	}

	.services-info__types {
		width: 15.5rem;
		padding-top: 1.5625rem;
	}

	.services-info__type-button {
		height: 2.75rem;
		font-size: 0.875rem;
		line-height: 1.25rem;
	}
	.services-primary__button {
		margin-top: 2rem;
		margin-left: 5.75rem;
	}
}

@media (max-width: $breakpoint-md) {
	.services {
		@include background(
			"../../assets/images/sections/section-services/services-info-bg-375.svg",
			0 4.9375rem,
			no-repeat,
			contain
		);
		height: 51.25rem;
		.section-title__inner {
			margin-bottom: 1.875rem;
		}

		.services__inner {
			background: none;
		}
	}

	.services-info {
		background: none;
	}

	.services-info__inner {
		background: none;
	}

	.services__gray-line,
	.services-info__description .services-info__gray-line {
		display: none;
	}

	.services-info__inner {
		flex-direction: column-reverse;
		align-items: center;
		gap: 0.75rem;
		padding-bottom: .375rem;
		padding-top: 2.1875rem;
	}

	.services-info__title {
		display: none;
	}

	.services-info__description {
		color: $color-black;
		flex-basis: 0rem;
		padding-top: 0rem;
	}

	.services-info__description-text {
		display: none;
	}

	.services-info__item .services-info__description-text {
		display: block;
		overflow: hidden;
		max-height: 0;
		margin-bottom: 0;
		margin: 0rem;
		font-weight: 400;
		line-height: 1.375rem;
		letter-spacing: 0.03em;
		font-size: .9375rem;
		&.slide-in-height {
			margin: 0.75rem;
			max-height: 31.25rem;
			transition: max-height $transition-duration $transition-easing;
		}
	}

	.services-info__types {
		width: 19.9375rem;
		padding-top: 0;
		height: 36.75rem;
	}

	.services-info__type-button {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 0.875rem 0 0.75rem;
		font-size: 1rem;
		line-height: 1.375rem;
		letter-spacing: 0.03em;
	}

	.services-primary__button {
		padding: 0.875rem 4.2188rem;
	}

	.services-info__type-button:after {
		content: url("../../assets/icons/shevronDown.svg");
		display: block;
	}
	.services-info__type-button.active:after {
		transform: rotate(180deg);
		transition: all 0.1s $transition-easing;
	}

	.services-primary__button {
		margin: 0 auto;
	}
}
