.cases__inner {
	@include background('/assets/images/cases-bg.png', center, no-repeat, cover);
	display: flex;
	flex-direction: column;
}

.projects-container {
	position: relative;
	padding-top: 8.05rem;
	padding-bottom: 7.5rem;
	overflow: hidden;
	width: 100%;

	.planet-text {
		position: absolute;
		top: 0;
		right: 0;
	}

	.planet-blue {
		top: 4.4375rem;
		right: 3.375rem;
	}
	.circle-ruby-on-rails {
		top: 2.875rem;
		right: 1.875rem;
	}
}

.cases__planet-img {
	width: 10.625rem;
	height: 10.625rem;
	position: absolute;
	top: 2.75rem;
	right: 1.6875rem;
}

@media (max-width: $breakpoint-lg) {
	.cases__inner {
		@include background(
			'/assets/images/cases-bg-768.png',
			center,
			no-repeat,
			cover
		);
		display: flex;
		flex-direction: column;
		margin-bottom: 4rem;
	}

	.projects-container {
		padding-top: 4.75rem;
		padding-bottom: 5rem;

		.planet-blue {
			width: 4.75rem;
			height: 4.7456rem;
			top: 2.3125rem;
			right: 0.75rem;
		}

		.circle-ruby-on-rails {
			width: 6.7775rem;
			height: 6.7138rem;
			top: 1.3125rem;
			right: -0.1875rem;
		}
	}

	.projects-wrapper {
		display: grid;
		justify-content: start;
		grid-template-columns: minmax(12.5rem, 24.5rem) minmax(6.25rem, 15.9375rem);
		grid-column-gap: 1.0625rem;
		grid-row-gap: 0.875rem;
	}

	.cases__planet-img {
		width: 6.7775rem;
		height: 6.7138rem;
		position: absolute;
		top: 1.75rem;
		right: -1.5rem;
	}
}

@media (max-width: $breakpoint-md) {
	.cases__inner {
		@include background(
			'/assets/images/cases-bg-375.png',
			center,
			no-repeat,
			cover
		);
		display: flex;
		flex-direction: column;
		.gray-line {
			display: block;
		}
	}

	.projects-wrapper {
		display: flex;
		justify-content: initial;
		grid-template-columns: initial;
		grid-column-gap: initial;
		grid-row-gap: initial;
	}

	.projects-container {
		position: relative;
		flex-shrink: 0;
		padding-top: 1.5625rem;
		padding-bottom: 1.75rem;
		margin-bottom: 3.1563rem;
	}

	.slider__image {
		border-radius: 0;
	}
}
