.cases__inner {
	@include background("../../assets/images/sections/section-cases/cases-bg.svg", center, no-repeat, contain);
	display: flex;
	flex-direction: column;
}

.projects-container {
	position: relative;
	padding-top: 8.05rem;
	padding-bottom: 7.5rem;
	overflow: hidden;
	width: 100%;

	.planet-text {
		position: absolute;
		top: 4.5rem;
		right: 4.1875rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.planet-blue {
		width: 7.5rem;
		height: 7.5rem;
	}
}

.cases__planet-img {
	width: 10.625rem;
	height: 10.625rem;
	position: absolute;
	top: 2.75rem;
	right: 1.6875rem;
}

.swiper-slide.projects-slide {
	display: grid;
	justify-content: center;
	grid-template-columns: 38.75rem 25.25rem;
	grid-column-gap: 1.75rem;
	grid-row-gap: 1.375rem;
	height: 30.125rem;
}

.projects-slide__item {
	overflow: hidden;
}

.projects-slide__item:nth-child(1) {
	grid-area: 1 / 1 / 3 / 2;
	border-radius: 6.25rem 0rem 0rem 0rem;
}

.projects-slide__item:nth-child(2) {
	grid-area: 1 / 2 / 2 / 3;
}

.projects-slide__item:nth-child(3) {
	grid-area: 2 / 2 / 3 / 3;
	border-radius: 6.25rem 0rem 6.25rem 6.25rem;
	height: 13.5625rem;
}

@media (max-width: $breakpoint-lg) {
	.cases__inner {
		@include background("../../assets/images/sections/section-cases/cases-bg-768.svg", center, no-repeat, contain);
		display: flex;
		flex-direction: column;
		margin-bottom: 4rem;
	}

	.projects-container {
		padding-top: 4.75rem;
		padding-bottom: 5rem;

		.planet-blue {
			width: 4.75rem;
			height: 4.7456rem;
			top: 2.3125rem;
			right: 0.75rem;
		}

		.circle-ruby-on-rails {
			width: 6.7775rem;
			height: 6.7138rem;
			top: 1.3125rem;
			right: -0.1875rem;
		}
	}

	.projects-wrapper {
		display: grid;
		justify-content: start;
		grid-template-columns: minmax(12.5rem, 24.5rem) minmax(6.25rem, 15.9375rem);
		grid-column-gap: 1.0625rem;
		grid-row-gap: 0.875rem;
	}

	.swiper-slide.projects-slide {
		height: 18.9375rem;
		justify-content: start;
		grid-template-columns: 25.0625rem 15.9375rem;
		grid-column-gap: 1.125rem;
		grid-row-gap: 0.75rem;
	}

	.projects-slide__item:nth-child(3) {
		height: 8.5625rem;
	}

	.cases__planet-img {
		width: 6.7775rem;
		height: 6.7138rem;
		position: absolute;
		top: 1.75rem;
		right: -1.5rem;
	}
}

@media (max-width: $breakpoint-md) {
	.cases__inner {
		@include background("../../assets/images/sections/section-cases/cases-bg-375.svg", center, no-repeat, contain);
		display: flex;
		flex-direction: column;
		.gray-line {
			display: block;
		}
	}

	.swiper-slide.projects-slide {
		height: 21rem;
		display: flex;
		justify-content: initial;
		grid-template-columns: initial;
		grid-column-gap: initial;
		grid-row-gap: initial;
	}

	.projects-container {
		position: relative;
		flex-shrink: 0;
		padding-top: 1.5625rem;
		padding-bottom: 1.75rem;
		margin-bottom: 3.1563rem;
	}

	.projects-slide {
		display: initial;
	}

	.slider__image {
		border-radius: 0;
	}
}
