.testimonials__inner {
	position: relative;
}

.testimonials__title {
	margin-bottom: 1.125rem;
}

.testimonials__gray-line {
	margin-bottom: 3.125rem;
}

.testimonials__subtitle {
	max-width: 32rem;
}

.vertical-gray-line-1,
.vertical-gray-line-2,
.vertical-gray-line-3,
.vertical-gray-line-4 {
	top: 0;
	position: absolute;
	height: 0.0625rem;
}

.vertical-gray-line-1 {
	left: 157px;
	width: 28.4375rem;
	transform: rotate(90deg) translateY(0) translateX(226px);
}

.vertical-gray-line-2 {
	width: 388px;
	left: 90px;
	transform: rotate(90deg) translateY(-337px) translateX(192px);
}

.vertical-gray-line-3 {
	width: 275px;
	right: 250px;
	transform: rotate(90deg) translateY(0) translateX(137px);
}

.vertical-gray-line-4 {
	top: 0;
	right: -92px;
	width: 34.8125rem;
	transform: rotate(90deg) translateY(0) translateX(279px);
}

.workers-background {
	@include background(
		'/assets/images/workers-bg.png',
		center,
		no-repeat,
		cover
	);
}

.workers__list {
	position: relative;
	height: 35.3125rem;
}

.workers__item:nth-child(1) {
	bottom: 0px;
	left: 0;
}

.workers__item:nth-child(2) {
	top: 34px;
	left: 34%;
}

.workers__item:nth-child(3) {
	top: -122px;
	right: 0;
}

.workers__item:nth-child(4) {
	bottom: -83px;
	right: 0;
}

.workers__item {
	position: absolute;
}

.card {
	position: relative;
	width: 25.25rem;
	height: 365px;
	display: flex;
	justify-content: end;
	flex-direction: column;
	align-items: center;
}

.avatar {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 9.0625rem;
	height: 9.0625rem;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
}

.avatar img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.name {
	font-size: 1.25rem;
	font-weight: 600;
	line-height: 1.75rem;
	letter-spacing: 0em;
}

.position {
	text-align: center;
	font-size: 1rem;
	color: #888888;
}

.description {
	margin-top: 0.625rem;
	font-size: 1rem;
	line-height: 1.5;
}

.card__content {
	padding: 5.75rem 1.375rem 2.75rem 1.375rem;
	background-color: $color-white;
	border: 1px solid $color-grey;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.625rem;
}

.consultation {
	@include background('/assets/images/casesbg.png', center, no-repeat, cover);
	padding: 15.6875rem 0 7.5rem 0;
}

.consultation__inner {
	position: relative;
	@include background(
		'/assets/images/consultation-bg.png',
		center,
		no-repeat,
		cover
	);
	max-width: 65.75rem;
	max-height: 16.3125rem;
	display: flex;
	flex-direction: column;
	align-items: end;
	gap: 2.625rem;
	padding: 3.25rem 0 2.4375rem 0;
	margin: 0 auto;
	color: $color-white;

	.planet-blue {
		z-index: -1;
		top: -25px;
		left: -12px;
	}
	.circle-ruby-on-rails {
		z-index: -1;
		top: -49px;
		left: -40px;
	}
}

.consultation__planet-img {
	width: 145px;
	height: 145px;
	position: absolute;
	z-index: -1;
	top: -41px;
	left: -36px;
}

.consultation__description {
	max-width: 36.375rem;
	margin-right: 3.875rem;
}

.consultation__inner .button {
	margin-right: 13.25rem;
}

@media (max-width: 768px) {
	.consultation__inner {
		.planet-blue {
			width: 75.78px;
			height: 75.78px;
			top: -2px;
			left: -24px;
		}
		.circle-ruby-on-rails {
			width: 107.57px;
			height: 107.55px;
			top: -19px;
			left: -41px;
		}
	}

	.workers-background {
		background-image: url(/assets//images//workers-bg-768px.png);
	}

	.testimonials__gray-line {
		margin-bottom: 20px;
	}

	.testimonials__title {
		font-size: 20px;
		line-height: 28px;
		margin-bottom: 13px;
	}

	.testimonials__subtitle {
		max-width: 346px;
		@include text--small;
		margin-bottom: 11px;
	}

	.vertical-gray-line-1 {
		left: 232px;
	}

	.vertical-gray-line-2 {
		width: 246px;
		left: auto;
		right: -32px;
		transform: rotate(90deg) translateY(0) translateX(124px);
	}

	.vertical-gray-line-3 {
		left: 164px;
		right: auto;
	}

	.vertical-gray-line-4 {
		left: -183px;
		right: auto;
	}

	.workers__list {
		height: 427px;
	}

	.workers__item:nth-child(1) {
		top: 0px;
		left: 92px;
	}

	.workers__item:nth-child(2) {
		top: auto;
		left: auto;
		right: 91px;
		bottom: 34px;
	}

	.workers__item:nth-child(3) {
		top: -81px;
		right: 0;
	}

	.workers__item:nth-child(4) {
		bottom: -46px;
		left: 0;
	}

	.card {
		width: 256px;
		height: 232px;
	}

	.avatar {
		bottom: 0;
		width: 98.88px;
		height: 98.88px;
	}

	.card__content {
		padding: 58.3px 13.4px 12.13px 13.4px;
		gap: 6.34px;
	}

	.name {
		font-size: 16px;
		line-height: 22px;
	}

	.position {
		font-size: 12px;
		line-height: 16.8px;
	}

	.description {
		margin-top: 0;
		font-size: 12px;
		line-height: 16.8px;
		letter-spacing: 0.3px;
	}

	.consultation {
		background-image: url(/assets/images/cases-bg-768.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-color: transparent;
		padding: 157px 0 80px 0;
	}

	.consultation__inner {
		@include background(
			'/assets/images/consultation-bg-768.png',
			center,
			no-repeat,
			cover
		);
		padding: 49px 0 29px 0;
		gap: 1.5625rem;
		max-width: 656px;
		max-height: 198px;
	}

	.gray-line {
		display: block;
	}

	.consultation__description {
		max-width: 369.77px;
		margin-right: 27.4px;
		@include text--small;
	}

	.consultation__inner .button {
		padding: 14px 70.4px;
		margin-right: 71px;
	}

	.consultation__planet-img {
		position: absolute;
		width: 107.57px;
		height: 107.55px;
		z-index: -1;
		top: -23px;
		left: -32px;
	}
}

@media (max-width: 375px) {
	.workers-background {
		background-image: none;
		background-color: $color-light-green;
		position: relative;
		height: 177px;
	}

	.workers__list {
		width: 272px;
		height: 276px;
		position: relative;
		top: -24px;
		gap: 0;
	}

	.testimonials__gray-line {
		display: block;
		margin-bottom: 18px;
	}

	.vertical-gray-line-1,
	.vertical-gray-line-2,
	.vertical-gray-line-3,
	.vertical-gray-line-4 {
		display: none;
	}

	.testimonials__subtitle {
		margin-bottom: 40px;
	}

	.avatar {
		width: 92px;
		height: 92px;
	}

	.card__content {
		padding: 59px 16px 16px 16px;
	}

	.card {
		width: 272px;
		height: 248px;
	}

	.position,
	.description {
		font-size: 14px;
		line-height: 20px;
		letter-spacing: 0.4px;
	}

	.workers__item {
		position: initial;
	}

	.consultation {
		padding: 168px 0 60px 0;
	}

	.consultation__inner {
		background-image: url(/assets/images/consultation-bg-375.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		background-color: transparent;
		padding: 30px 0 156px 0;
		gap: 24px;
		width: auto;
		max-height: 335px;
	}

	.consultation__description {
		max-width: 297px;
		margin: 0 auto;
	}

	.consultation__inner .button {
		padding: 14px 45.5px;
		margin: 0 auto;
	}

	.consultation__planet-img {
		width: 90px;
		height: 90px;
		top: -32px;
		left: auto;
		right: -18px;
	}
}
