.explore__list {
	display: flex;
	flex-wrap: wrap;
	.vertical-gray-line {
		width: 0.125rem;
	}
}

.explore-item__title {
	margin-bottom: 1.5rem;
}

.explore__item {
	display: flex;
	padding: 2.5rem 0 2.9375rem 0;
	flex-direction: column;
}
.explore__item:not(:first-child) {
	padding-left: 1.75rem;
}

.explore__item {
	position: relative;
	&:nth-child(1) {
		position: relative;
		flex-basis: 25.125rem;
		padding-left: 0.5625rem;
	}
	&:nth-child(2) {
		padding-left: 2.4375rem;
		flex-grow: 1;
	}
	&:nth-child(3) {
		width: 24.25rem;
	}

	.vertical-gray-line {
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
	}
}

.explore-item__text {
	max-width: 21.875rem;
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	span {
		display: block;
	}
}

.help {
	color: $color-white;
	background-color: $color-night-blue;
}

.help__inner {
	position: relative;
	padding: 5.25rem 0 2.0625rem 0;
}

.help__title {
	max-width: 38.3125rem;
	margin: 0 auto;
	margin-bottom: 16.375rem;
}

.help__text {
	max-width: 45.5rem;
}

.background-svg {
	width: 100%;
	height: auto;
	object-fit: cover;
	position: absolute;
	top: -6.5rem;
	left: -1rem;
	z-index: 1;
}

@media (max-width: $breakpoint-lg) {
	.explore {
	}

	.explore-item__title {
		font-size: 1.25rem;
		line-height: 1.75rem;
		margin-bottom: 0.9375rem;
	}

	.explore-item__text {
		gap: 0.1875rem;
	}

	.explore__item {
		padding: 1.25rem 0 1.5rem 0;
	}

	.explore__item:not(:first-child) {
		padding-left: 0.5rem;
	}

	.explore__item:nth-child(1) {
		max-width: 13.7287rem;
		padding-left: 0.625rem;
	}

	.explore__item:nth-child(2) {
		flex-grow: 1;
		padding-left: 1.75rem;

		.explore-item__text {
			max-width: 13.75rem;
		}
	}

	.explore__item:nth-child(3) {
		max-width: 14.0625rem;
	}

	.explore-item__text {
		max-width: 15.75rem;
		font-size: 0.875rem;
		line-height: 1.25rem;
	}

	.help {
		@include background(
			'/images/home-page/sections/section-explore/help-bg-768.svg',
			0rem 0rem,
			no-repeat,
			cover
		);
		color: $color-white;
		background-color: $color-night-blue;
	}

	.help__inner {
		padding: 3.6263rem 0 1.6875rem 0;
	}

	.help__title {
		width: 25.3125rem;
		margin-bottom: 9.6856rem;
		@include heading--smaller;
	}

	.help__text {
		max-width: 26.4375rem;
		font-size: 0.875rem;
		line-height: 1.25rem;
	}

	.background-svg {
		display: none;
	}
}

@media (max-width: $breakpoint-md) {
	.explore {
		margin-bottom: 3.4375rem;
	}

	.explore__list {
		display: flex;
		flex-direction: column;
		margin-bottom: 3.75rem;
		border-left: 0.125rem solid #dcdcdc;
	}

	.explore__item:not(:last-child) {
		border-bottom: 0.125rem solid #dcdcdc;
		border-right: none;
	}
	.explore__item:nth-child(1) {
		max-width: 100%;
		flex-basis: auto;
		padding-left: 2rem;
	}
	.explore__item:nth-child(2) {
		padding-left: 2rem;
	}
	.explore__item:nth-child(3) {
		padding-left: 2rem;
	}

	.explore__item {
		padding: 1.5rem 0 1.5rem 1.5rem;
	}

	.explore-item__text {
		display: flex;
		flex-direction: column;
		gap: 0.1819rem;
		width: 100%;
		font-size: 1rem;
		line-height: 1.375rem;
		letter-spacing: 0.03em;
	}

	.explore__item:nth-child(2) .explore-item__text {
		max-width: 100%;
	}

	.help {
		@include background(
			'/images/home-page/sections/section-explore/help-bg-375.svg',
			center center,
			no-repeat,
			cover
		);
	}

	.help__inner {
		padding: 3.0625rem 0 2.0625rem 0;
	}

	.help__title {
		width: 15.9375rem;
		margin: 0 0 2.125rem 0;
		font-size: 1.625rem;
		line-height: 2.25rem;
		letter-spacing: 0.03em;
	}

	.help__text {
		max-width: 19.875rem;
	}

	.background-svg {
		visibility: hidden;
	}
}
