.section-blog__inner {
	display: flex;
	flex-direction: column;
	gap: 3.75rem;
}

.blog-slider .swiper-wrapper {
	margin-bottom: 2.75rem;
}

.blog-slider .swiper-slide {
	align-self: stretch;
}

.blog-slider .card-blog {
	width: 25rem;
}

@media (max-width: $breakpoint-lg) {
	.section-blog__inner {
		gap: 2.75rem;
	}

	.container__blogs-slider {
		width: 100%;
		padding: 0;
	}

	.blog-slider {
		padding: 0 1rem;
	}

	.blog-slider .card-blog {
		width: 100%;
	}
}

@media (max-width: $breakpoint-md) {
	.section-blog__inner {
		gap: 2.375rem;
	}

	.blog-slider {
		padding: 0 0.625rem;
	}

	.blog-slider .card-blog {
		width: 20rem;
	}
}
