.pagination-container {
	display: flex;
	justify-content: center;
	margin-top: 2.5rem;
}

.pagination:not(:has(.page-number)) {
	visibility: hidden;
}

.pagination a {
	color: $color-black;
}

.pagination {
	display: flex;
	align-items: center;
	gap: .3125rem;
	font-size: .8125rem;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	color: $color-black;
}

.page-number {
	padding: .25rem .5rem;
	border-radius: 2rem;
	border: .0625rem solid #f1f1f1;
	background: #fff;
	width: 2rem;
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.prev,
.next {
	padding: .25rem .5rem;
	border-radius: 2rem;
	border: .0625rem solid #e8eaf2;
	background: #fff;
	width: 2rem;
	height: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

:where(.prev, .next).disabled {
	color: #cccccc;
	pointer-events: none;
}

.page-number--active {
	background-color: $color-primary-violet;
	color: $color-white;
}
