// variables.scss

$container-width: 79.25rem;
$container-width-768: 44.75rem;
$container-width-375: 21.4375rem;
$container-padding: 0.625rem;

// Colors
$color-primary-violet: #515bf6;
$color-secondary: #72dfdd;
$color-neon-green: #c4fc50;
$color-text-black: #333f52;
$color-dark-violet: #4139be;
$color-light-green: #e5ffaf;
$color-black: #212121;
$color-night-blue: #212439;
$color-base-dark-grey: #4b4b4b;
$color-dark-grey: #6a6a6a;
$color-grey: #b0b0b0;
$color-accent-7: #dcdcdc;
$color-disable-grey: #e8eaf2;
$color-white: #ffffff;
$color-light-grey: #dcdcdc;
$color-system-red: #ff6969;

// Typography
$font-family: 'Outfit', sans-serif;
$second-family: 'SF Pro Text', sans-serif;
$third-family: 'Lato', sans-serif;

$root-font-size: 0.833vw;
// Spacing

// Breakpoints
$breakpoint-sm: 375px;
$breakpoint-md: 435px;
$breakpoint-lg: 768px;
$breakpoint-xl: 1440px;

//transition
$transition-duration: 0.3s;
$transition-easing: ease-in-out;
$transition-property: all;

//animation
$duration-spin-text-circle: 4s;
$duration-testimonials-opacity: 0.25s;
$duration-text--highlight: 1s;
$enable-animation-spin-text-circle: true;

// mixins.scss
// Center element horizontally and vertically
@mixin center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin background(
	$image,
	$position: center center,
	$repeat: no-repeat,
	$size: auto,
	$color: transparent
) {
	background-image: url($image);
	background-position: $position;
	background-repeat: $repeat;
	background-size: $size;
	background-color: $color;
}

@mixin linkEffects {
	color: $color-white;
	transition: $transition-property $transition-duration $transition-easing;

	&:hover {
		color: $color-dark-violet;
	}

	&.active {
		color: $color-neon-green;
	}
}
