   <footer class="footer">
     <div class="container">
       <div class="footer__inner">
         <div class="footer__logo-container">
           <object class="logo" title="Lazy Bison logo" type="image/svg+xml" data="./assets/icons/logo.svg"></object>
         </div>
         <div class="footer__menu">
           <h4 class="footer__menu-title">Menu</h4>
           <nav>
             <ul class="footer-menu__list text--small">
               <li class="footer__menu-item">
                 <a href="#services" class="footer__menu-link"> Services
                 </a>
               </li>
               <li class="footer__menu-item">
                 <a href="#explore" class="footer__menu-link"> Explore </a>
               </li>
               <li class="footer__menu-item">
                 <a href="#cases" class="footer__menu-link"> Cases </a>
               </li>
               <li class="footer__menu-item">
                 <a href="#testimonials" class="footer__menu-link">
                   Testimonials
                 </a>
               </li>
             </ul>
           </nav>
         </div>
         <div class="footer__contacts">
           <h4 class="footer__contacts-title">Contacts</h4>
           <address class="contacts-info">
             <a class="website" href="https://www.lazy-bison.com">
               www.lazy-bison.com
             </a>
             <a class="email" href="mailto:contact@thelazybison.com">
               contact&#64;thelazybison.com
             </a>
             <a class="address" href="https://www.google.com/maps/search/?api=1&query=Warsaw,Poland">
               Poland, Warsaw
             </a>
           </address>

           <div class="social-media text--small">
             <a href="https://www.facebook.com/example">
               <i class="icon icon-facebook"></i>
             </a>
             <a href="https://www.twitter.com/example">
               <i class="icon icon-twitter"></i>
             </a>
             <a href="https://www.instagram.com/example">
               <i class="icon icon-linkedin"></i>
             </a>
           </div>
         </div>
       </div>
       <p class="rights">
         &copy;
         <time datetime="2023">2023</time>
         Lazy Bison. All RightsReserved.
       </p>
     </div>
   </footer>