---
layout: default
---

<section class="section-full-info-blog">
  <div class="container">
    <div class="section-full-info-blog__inner">
      {%include navigation-path.html%}
      <article class="full-info-blog">
        <header class="full-info__header">
          <h1 class="blog-page__title-h1 ">{{page.title}}</h1>
          <div class="author-time-blog">
            <div class="author">
              <img src="{{page.avatar}}" class="author__avatar"></img>
              <p class="author__name">{{page.author}}</p>
            </div>
            <span>|</span>
            <div class="time">{{ page.date | date: "%b. %-d, %Y" }}</div>
          </div>
          <ul class="hashtag-list">
            {% assign hashtags = page.hashtags | split: '#' %}
            {% for hashtag in hashtags %}
            {% if hashtag != '' %}
            <li class="hashtag-item">
              <span class="hashtag hashtag--active">#{{ hashtag }}</span>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          <div class="blog-post-image__wrapper">
            <img class="blog-post-image" src="{{page.image}}" alt>
          </div>
        </header>
        <section class="full-info-blog__section">
          {{content}}
        </section>
      </article>
    </div>
</section>
<div class="container">
  <div class="gray-line__container">
    <hr class="gray-line">
  </div>
</div>
<section class="section-recommendations">
  <div class="container">
    <div class="section-recommendations__inner">
      <h2 class="blog-page__title-h2 ">Recommendations</h2>
      <ul class="blogs-list">
        {% for blog in site.blogs limit:3 %}
        <li class="blogs-item">
          {% include blog-card.html blog=blog %}
        </li>
        {% endfor %}
        </li>
      </ul>
    </div>
  </div>
</section>