---
layout: default
---

<section class="section-full-info-blog">
  <div class="container">
    <div class="section-full-info-blog__inner">
      {%include navigation-path.html%}
      <article class="full-info-blog">
        <header class="full-info__header">
          <h1 class="blog-page__title-h1 ">{{page.title}}</h1>
          <div class="author-time-blog">
            <div class="author">
              <img src="{{page.avatar}}" class="author__avatar"></img>
              <p class="author__name">{{page.author}}</p>
            </div>
            <span>|</span>
            <div class="time">{{ page.date | date: "%b. %-d, %Y" }}</div>
          </div>
          <ul class="hashtag-list">
            {% assign hashtags = page.hashtags | split: '#' %}
            {% for hashtag in hashtags %}
            {% if hashtag != '' %}
            <li class="hashtag-item">
              <span class="hashtag hashtag--active">#{{ hashtag }}</span>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          <div class="blog-post-image__wrapper">
            <img class="blog-post-image" src="{{page.image}}" alt>
          </div>
        </header>
        <section class="full-info-blog__section">
          {{content}}
        </section>
      </article>
    </div>
</section>
<div class="container">
  <div class="gray-line__container">
    <hr class="gray-line">
  </div>
</div>
<section class="section-recommendations">
  <div class="container">
    <div class="section-recommendations__inner">
      <h2 class="blog-page__title-h2 ">Recommendations</h2>
      <ul class="blogs-list">
        {% for blog in site.blogs limit:3 %}
        <li class="blogs-item">
          <div class="card-blog ">
            <div class="card-blog__content">
              <h3 class="card-blog__title">
                Effortless Deployment of Web Applications with Kamal
              </h3>
              <p class="card-blog__description">
                Navigating the intricacies of web application
                deployment can be a daunting task. Enter Kamal—a
                deployment tool designed to alleviate these
                complexities. In this article, we'll delve into the
                key features of Kamal and share insights from our own
                hands-on experience.
              </p>
              <span class="hashtag ">#eCommerce</span>
              <span class="card-blog__date">{{ blog.date | date: "%b. %-d, %Y" }}</span>
            </div>
            <a href="{{blog.url}}" class="button button--primary card-blog__btn">
              Read More
              <i class="icon arrow-right-top-angle-square-transparent-bg"></i>
            </a>
          </div>
        </li>
        {% endfor %}
        </li>
      </ul>
    </div>
  </div>
</section>