---
layout: default
title: Cases
---


<div class="container">
  {%include navigation-path.html%}
</div>
<div class="cases">
  <div class="container">
    <div class="section-case__inner">
      <div class="section-title__inner">
        <h1 class="section-title__heading">Cases</h1>
        <div class="section-title__arrow rectangle-arrow">
          <i class="icon arrow-right-down-angle-square"></i>
        </div>
      </div>
    </div>
    <section class="categories">
      <h2 class="case-page__title-h2 categories__title">Categories</h2>
      <ul class="categories-list ">
        <li class="categories-item ">
          <div class="category category--active">All</div>
        </li>
        <li class="categories-item ">
          <div class="category ">#eCommerce</div>
        </li>
        <li class="categories-item ">
          <div class="category">#Healthcare</div>
        </li>
        <li class="categories-item ">
          <div class="category">#real estate</div>
        </li>
        <li class="categories-item ">
          <div class="category">#fintech</div>
        </li>
        <li class="categories-item ">
          <div class="category">#veterinary</div>
        </li>
        <li class="categories-item">
          <div class="category">#crowdfunding</div>
        </li>
        <li class="categories-item">
          <div class="category">#Legal services
            focused on flight compensations</div>
        </li>
      </ul>
      <ul class="cases-list">
        {% for case in site.cases %}
        <li class="cases-item">
          {% include case-card.html blog=case %}
        </li>
        {% endfor %}
      </ul>
    </section>
  </div>
</div>