{{ define "main" }}
<div class="container">
	<nav class="navigation-path">
		{{ $homeURL := relLangURL "/" }}
		{{ $casesURL := relLangURL "/cases" }}
		<a class="navigation-path__link" href="{{ $homeURL }}">{{
			.Params.breadcrumb_home }}</a>
		<span>/</span>
		<a class="navigation-path__link navigation-path__link--active"
			href="{{ .Permalink }}">
			{{ .Params.breadcrumb_cases }}
		</a>
	</nav>
</div>

<div class="cases">
	<div class="container">
		<div class="section-case__inner">
			<div class="section-title__inner">
				<h1 class="section-title__heading">{{ .Params.section_heading }}</h1>
				<div class="section-title__arrow rectangle-arrow">
					<i class="icon arrow-right-down-angle-square"></i>
				</div>
			</div>
		</div>

		<section class="categories">
			<h2 class="case-page__title-h2 categories__title">{{ .Params.categories_title
				}}</h2>
			<ul class="categories-list">
				<li class="categories-item">
					<a class="category category--active" href="{{$casesURL}}">{{
						.Params.category_all
						}}</a>
				</li>
				{{ range .Site.Taxonomies.case_categories }}
				<li class="categories-item">
					<a class="category" href="{{.Page.Permalink }}">#{{ .Page.Title
						}}</a>
				</li>
				{{ end }}
			</ul>
		</section>

		{{ $paginator := .Paginate (where .Pages "Type" "cases")
		.Site.Params.cases_paginate }}
		<ul class="cases-list">
			{{ range $paginator.Pages }}
			<li class="case-item">{{ partial "case-card.html" . }}</li>
			{{ end }}
		</ul>
		{{ partial "pagination.html" . }}
	</div>
</div>

{{ end }}
