{{ define "main" }}
<div class="bg-wrapper">
  <div class="container">
    <nav class="navigation-path">
      <a class="navigation-path__link" href="{{ .Site.BaseURL }}">Home</a>
      <span>/</span>
      <a class="navigation-path__link" href="/cases">Сases</a>
      <span>/</span>
      <a class="navigation-path__link navigation-path__link--active" href="{{ .Permalink }}">{{.Params.title}}</a>
    </nav>
  </div>
  <section class="top-section">
    <div class="container">
      <div class="top-section__inner">
        <div class="categories-titile">
          <ul class="categories-list ">
            {{ range .Params.case_categories }}
            <li class="categories-item ">
              <span class="category category--active">#{{ . }}</span>
            </li>
            {{ end }}
            </li>
          </ul>
          <h1 class="case-study-page__title-h1">{{.Params.title}}
          </h1>
        </div>
        <div class="top-section-img__container">
          {{ $image := resources.Get .Params.image }}
          {{ $smallImage := $image.Resize "206x206 webp" }}
          {{ $mediumImage := $image.Resize "343x343 webp" }}
          {{ $largeImage := $image.Resize "315x315 webp" }}
          <picture>
            <source type="image/webp" media="(max-width:425px)" srcset="{{$mediumImage.RelPermalink}}">
            <source type="image/webp" media="(max-width:768px)" srcset="{{$smallImage.RelPermalink}}">
            <source type="image/webp" media="(max-width:1440px)" srcset="{{$largeImage.RelPermalink}}">
            <source type="image/webp" media="(min-width:1441px)" srcset="{{$largeImage.RelPermalink}}">
            <img src="{{ $image.RelPermalink }}" alt="Case-Image">
          </picture>
        </div>
      </div>
    </div>
  </section>
</div>
<section class="general-info">
  <div class="container">
    <div class="general-info__inner">
      <h2 class="case-study-page__title-h2 ">general info</h2>
      <ul class="general-info-list">
        <li class="general-info-item">
          <h3 class="general-info__title-h3">Client</h3>
          <p class="general-info__text">{{ .Params.project_info.client }}</p>
        </li>
        <li class="general-info-item">
          <h3 class="general-info__title-h3">Industry</h3>
          <p class="general-info__text">
            {{.Params.project_info.industry}}
          </p>
        </li>
        <li class="general-info-item">
          <h3 class="general-info__title-h3">Client Since</h3>
          <p class="general-info__text">
            {{.Params.project_info.client_since}}
          </p>
        </li>
        <li class="general-info-item">
          <h3 class="general-info__title-h3">Location</h3>
          <p class="general-info__text">
            {{.Params.project_info.location}}
          </p>
        </li>
        <li class="general-info-item">
          <h3 class="general-info__title-h3">Type</h3>
          <p class="general-info__text"> {{.Params.project_info.type}}</p>
        </li>
        <li class="general-info-item">
          <h3 class="general-info__title-h3">Engagement Model</h3>
          <p class="general-info__text">
            {{.Params.project_info.engagement_model}}
          </p>
        </li>
        <li class="general-info-item">
          <h3 class="general-info__title-h3">Duration</h3>
          <p class="general-info__text">
            {{.Params.project_info.duration}}
          </p>
        </li>
        <li class="general-info-item">
          <h3 class="general-info__title-h3">Staff</h3>
          <p class="general-info__text"> {{.Params.project_info.staff}}
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="section-challenge">
  <div class="container">
    <div class="section-challenge__inner">
      <h2 class="case-study-page__title-h2">Challenge</h2>
      <p class="case-study-page__subtitle">{{.Params.challenge.subtitle}}</p>
      <ul class="challenge-list">
        {{ range .Params.challenge.issues }}
        <li class="challenge-item">
          <div class="challenge-card">
            <h3 class="challenge-card__title">{{ .title }}</h3>
            <p class="challenge-card__text">{{ .description }}</p>
          </div>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</section>
<section class="section-value-driven">
  <div class="container">
    <div class="section-value-driven__inner">
      <h2 class="case-study-page__title-h2">Value-Driven Results</h2>
      <p class="case-study-page__subtitle">{{.Params.value_driven_results.subtitle}}</p>
      <div class="value-driven-lists__wrapper">
        <div class="spin-text-circle">
          <i class="icon spin-text-circle__text"></i>
          <i class="icon spin-text-circle__circle spin-text-circle__circle--gradient-blue-two"></i>
        </div>
        <ul class="value-driven-list">
          <li class="value-driven-item">
            <i class="icon arrow-right-down-angle-square"></i>
            <p class="value-driven-item__text">Communication gaps were minimized, ensuring drivers received
              crucial updates and safety instructions promptly.</p>
          </li>
          <li class="value-driven-item">
            <i class="icon arrow-right-down-angle-square"></i>
            <p class="value-driven-item__text">Driver safety and compliance were enhanced through real-time
              monitoring and communication of safety protocols.</p>
          </li>
          <li class="value-driven-item">
            <i class="icon arrow-right-down-angle-square"></i>
            <p class="value-driven-item__text">Efficiency and record-keeping improved, with comprehensive data
              capture and retrieval.</p>
          </li>
          <li class="value-driven-item">
            <i class="icon arrow-right-down-angle-square"></i>
            <p class="value-driven-item__text">Real-time monitoring of vital signs contributed to both safety and
              performance evaluation.</p>
          </li>
        </ul>
        <ul class="value-driven-list">

          <li class="value-driven-item">
            <i class="icon arrow-right-down-angle-square"></i>
            <p class="value-driven-item__text">Language barriers were overcome with the auto-translate feature.
            </p>
          </li>
          <li class="value-driven-item">
            <i class="icon arrow-right-down-angle-square"></i>
            <p class="value-driven-item__text">Offline capabilities ensured functionality in remote areas.
            </p>
          </li>
          <li class="value-driven-item">
            <i class="icon arrow-right-down-angle-square"></i>
            <p class="value-driven-item__text">Integration with third-party platforms improved coordination.
            </p>
          </li>
          <li class="value-driven-item">
            <i class="icon arrow-right-down-angle-square"></i>
            <p class="value-driven-item__text">User access management became user-friendly and efficient.
            </p>
          </li>
          <li class="value-driven-item">
            <i class="icon arrow-right-down-angle-square"></i>
            <p class="value-driven-item__text">Robust reporting and analytics tools provided valuable insights for
              optimization.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <footer class="section-value-driven-footer">
    <div class="container">
      <i class="icon icon-elipse-gradient-pink"></i>
      <p class="case-study-page__subtitle">
        By addressing these challenges, our solution enabled the logistics company to operate more efficiently,
        ensure driver
        safety and compliance, and enhance communication across the organization. This resulted in improved
        overall performance
        and customer satisfaction.
      </p>
    </div>
  </footer>
</section>
<section class="section-solution">
  <div class="container">
    <div class="section-solution__inner">
      <h2 class="case-study-page__title-h2">Solution</h2>
      <p class="case-study-page__subtitle">In response to these challenges, we developed a comprehensive solution that
        addressed the logistics company's needs</p>
    </div>
  </div>
  <div class="container solution-table__container">
    <table class="solution-table">
      <thead>
        <tr>
          {{ range $index, $item := .Params.solution_table.thead }}
          {{ if eq $index 1 }}
          <th class="table-th-tab table-th-tab-active">{{ $item.title }}</th>
          {{ else }}
          <th class="table-th-tab">{{ $item.title }}</th>
          {{ end }}
          {{ end }}
        </tr>
      </thead>
      <tbody>
        {{ range .Params.solution_table.tbody }}
        <tr>
          {{ range . }}
          <td>{{ . }}</td>
          {{ end }}
        </tr>
        {{ end }}
      </tbody>
    </table>
  </div>
</section>
<section class="section-tools-technologies">
  <div class="container">
    <div class="section-tools-technologies__inner">
      <h2 class="case-study-page__title-h2">Tools & Technologies </h2>
      <ul class="tools-technologies-list">
        {{ range .Params.tools_and_technologies }}
        <li class="tools-technologies-item">
          <h3 class="tools-technologies-item__title-h3">{{ .tool }}</h3>
          <p class="tools-technologies-item__text">
            {{ .technologies }}
          </p>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</section>
<div class="background-sections-roadmap-gallery">
  <section class="section-roadmap">
    <div class="container">
      <div class="section-roadmap__inner">
        <h2 class="case-study-page__title-h2">Roadmap</h2>
        <ul class="roadmap-list">
          {{ range $index, $item := .Params.roadmap }}
          <li class="roadmap-item">
            <div class="roadmap-card">
              <div class="roadmap-card__date">{{ $item.date }}</div>
              <ul class="roadmap-card__list">
                {{ range $item.activities }}
                <li class="roadmap-card__item">{{ . }}</li>
                {{ end }}
              </ul>
            </div>
            {{ if ne $index (sub (len $.Params.roadmap) 1) }}
          <li class="roadmap-item">
            <i class="icon icon-arrow-roadmap"></i>
          </li>
          {{ end }}
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </section>
  <section class="section-gallery">
    <div class="container">
      <div class="section-gallery__inner">
        <h2 class="case-study-page__title-h2">Gallery</h2>
        <div class="swiper gallery-slider" data-mobile="false">
          <ul class="swiper-wrapper">
            {{ range .Params.gallery_images }}
            <li class="swiper-slide">
              <div class="swiper-slide__img-container">
                {{ $image := resources.Get .image_path  }}
                {{ $WEBPImage := $image.Process "webp" }}
                <img src="{{ $WEBPImage.RelPermalink }}" alt="{{ .caption }}">
              </div>
            </li>
            {{ end }}
          </ul>
          <div class="swiper-pagination"></div>
        </div>
        <div class="swiper-btn-prev">
          <i class="icon icon-square-arrow-left"></i>
        </div>
        <div class="swiper-btn-next">
          <i class="icon icon-square-arrow-right "></i>
        </div>
        <button class="button lazy-bison-description__btn button__text--large button--primary get-consultation-btn">
          Get free consultation
          <i class="icon icon-arrow-right-top"></i>
        </button>
      </div>
    </div>
  </section>

</div>

{{ end }}