.card-blog {
    padding: 24px;
    border: 2px solid #E8EAF2
}

.card-blog--bg-black {
    background-color: $color-black;
    color: $color-white;
}

.card-blog__hashtag {
    background-color: $color-disable-grey;
    color: $color-black;
}

.card-blog__hashtag {
    align-self: flex-start;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    padding: 4px 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.card-blog__hashtag--bg-grey {
    background-color: $color-disable-grey;
    color: $color-black;
}

.card-blog__hashtag--bg-light-green {
    background-color: $color-light-green;
}

.card-blog__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;
}

.card-blog__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0.03em;
}

.card-blog__description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-align: left;
    font-weight: 300;
    line-height: 25px;
    letter-spacing: 0.03em;
}


.card-blog__date {
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
}

.card-blog__btn {
    display: flex;
    align-items: center;
    gap: 24px;
    @include text--small;
    padding: 12px 16px;

}


@media (max-width: $breakpoint-lg) {
    .section-card-blog__inner {
        gap: 44px;
    }

    .card-blog {
        padding: 20px;
    }

    .card-blog__title {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
    }

    .card-blog__description {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-align: left;
        font-weight: 300;
        line-height: 25px;
        letter-spacing: 0.03em;
    }

}

@media (max-width: $breakpoint-md) {
    .card-blog__inner {
        gap: 38px;
    }

    .card-blog {
        padding: 16px;
    }

}