.navigation-path {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

.navigation-path__link {
    color: #555555;
}

.navigation-path__link--active {
    color: $color-dark-violet;
}


@media (max-width: $breakpoint-lg) {
    .navigation-path {
        font-size: 12px;
        font-weight: 400;
        line-height: 19px;
        gap: 4px;

    }


}

@media (max-width: $breakpoint-md) {}