.spin-text-circle {
    width: 7.5rem;
    height: 7.5rem;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spin-text-circle__circle {
    width: 7.5rem;
    height: 7.5rem;
    position: relative;
    z-index: 1;
}

.spin-text-circle__text {
    width: 10.6469rem;
    height: 10.6425rem;
    position: absolute;

    @if $enable-animation-spin-text-circle {
        animation: circle-rotation $duration-spin-text-circle__text infinite linear;
    }
}


@media (max-width: $breakpoint-lg) {}

@media (max-width: $breakpoint-md) {}