{{ define "main" }}
<section class="section-full-info-blog">
  <div class="container">
    <div class="section-full-info-blog__inner">
      <div class="container__navigation-path">
        <nav class="navigation-path">
          <a class="navigation-path__link" href="{{ .Site.BaseURL }}">Home</a>
          <span>/</span>
          <a class="navigation-path__link" href="/blog">Blog</a>
          <span>/</span>
          <a class="navigation-path__link navigation-path__link--active" href="{{ .Permalink }}">{{.Params.title}}</a>
        </nav>
      </div>
      <article class="full-info-blog">
        <header class="full-info__header">
          <h1 class="blog-page__title-h1">{{.Params.title}}</h1>
          <div class="author-time-blog">
            <div class="author">
              {{ $imageAvatar := resources.Get .Params.avatar }}
              {{ with $imageAvatar }}
              {{ $imageAvatarWebp := $imageAvatar.Resize "20x20 q100 webp" }}
              <picture class="author__avatar">
                <source type="image/webp" srcset="{{ $imageAvatarWebp.RelPermalink }}" />
                <img src="{{ $imageAvatar.RelPermalink }}" alt="author" />
              </picture>
              {{ end }}
              <p class="author__name">{{.Params.author}}</p>
            </div>
            <span>|</span>
            <div class="time">
              {{.Params.date | time.Format ":date_medium" }}
            </div>
          </div>
          <ul class="categories-list">
            {{ range .Params.blog_categories }}
            <li class="categories-item">
              <span class="category category--active">#{{ . }}</span>
            </li>
            {{ end }}
          </ul>
          <div class="blog-post-image__wrapper">
            {{ $image := resources.Get .Params.image }}
            {{ if $image }}
            {{ $smallImage := $image.Resize "343x146 q100 webp" }}
            {{ $mediumImage := $image.Resize "716x304 q100 webp" }}
            {{ $largeImage := $image.Resize "940x400 q100 webp" }}
            <picture>
              <source type="image/webp" media="(max-width:425px)" srcset="{{$smallImage.RelPermalink}}">
              <source type="image/webp" media="(max-width:768px)" srcset="{{$mediumImage.RelPermalink}}">
              <source type="image/webp" media="(max-width:1440px)" srcset="{{$largeImage.RelPermalink}}">
              <img class="blog-post-image" src="{{ $image.RelPermalink }}" alt="Blog Image">
            </picture>
            {{ end }}
          </div>
        </header>
        <section class="full-info-blog__section">{{ .Content }}</section>
      </article>
    </div>
  </div>
</section>
{{ $currentBlog := . }} {{ $excludedTitle := .Params.title }} {{ $related :=
.Site.RegularPages.Related $currentBlog | first 3 }} {{ if gt (len $related) 0
}}
<div class="container">
  <div class="gray-line__container">
    <hr class="gray-line" />
  </div>
</div>
<section class="section-recommendations">
  <div class="container">
    <div class="section-recommendations__inner">
      <h2 class="blog-page__title-h2">Recommendations</h2>
      <ul class="blogs-list">
        {{ range $related }} {{ if eq .Type "blogs" }} {{ if ne .Title
        $excludedTitle }}
        <li class="blogs-item">{{ partial "blog-card.html" . }}</li>
        {{ end }} {{ end }} {{ end }}
      </ul>
    </div>
  </div>
</section>
{{ end }} {{ end }}