{{ define "main" }}
<h1>{{ .Title }}</h1>

{{ range .Pages }}
<article>
  <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
  <p>{{ .Date | time.Format ":date_medium" }}</p>
  {{ .Content }}
</article>
{{ end }}

{{ if .Paginator }}
<nav>
  <ul>
    {{ with .Paginator.Prev }}
    <li><a href="{{.URL}}">&lt; Previous</a></li>
    {{ end }}
    <li>{{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}</li>
    {{ with .Paginator.Next }}
    <li><a href="{{.URL}}">Next &gt;</a></li>
    {{ end }}
  </ul>
</nav>
{{ end }}
{{ end }}