.section-testimonials {
}

.testimonials__container {
	position: relative;
	.spin-text-circle__circle {
		width: 10rem;
		height: 10rem;
		position: absolute;
		top: -8.3125rem;
		right: -4.0625rem;
	}
}

.testimonials__title,
.testimonials__subtitle {
	position: relative;
	z-index: 1;
}

.testimonials__title {
	margin-bottom: 1.125rem;
}

.testimonials__gray-line {
	margin-bottom: 3.125rem;
}

.testimonials__subtitle {
	max-width: 32rem;
}

.vertical-gray-line-1,
.vertical-gray-line-2,
.vertical-gray-line-3,
.vertical-gray-line-4 {
	top: 0;
	position: absolute;
	z-index: 1;
}

.vertical-gray-line-1 {
	height: 30.6875rem;
	left: 7.3125rem;
}

.vertical-gray-line-2 {
	height: 17.5625rem;
	left: 34.1875rem;
}

.vertical-gray-line-3 {
	height: 7.8125rem;
	right: 19.25rem;
}

.vertical-gray-line-4 {
	height: 37.9375rem;
	top: 0;
	right: 7.5rem;
}

.testimonials-background {
	@include background(
		'/images/sections/section-testimonials/testimonials-bg.svg',
		0 2.5rem,
		no-repeat,
		cover,
		$color-light-green
	);
}

.swiper.testimonials-swiper {
	overflow: visible;
	position: relative;
	height: 40.3125rem;
}

.testimonials__list > *:nth-child(n + 5) {
	visibility: hidden;
}

.testimonials__list {
	transition: opacity $duration-testimonials-opacity $transition-easing;
}

.testimonials__list.fade-out {
	opacity: 0;
}

.testimonials__item {
	&:nth-child(1) {
		bottom: -2.375rem;
		left: 0.6875rem;
	}

	&:nth-child(2) {
		top: 6.5rem;
		left: 27.625rem;
	}

	&:nth-child(3) {
		top: -3.3125rem;
		right: 0.5625rem;
	}

	&:nth-child(4) {
		bottom: -10.0625rem;
		right: 0.625rem;
	}
}

.testimonials__item {
	position: absolute;
}

@media (max-width: $breakpoint-lg) {
	.testimonials-background {
		@include background(
			'/images/sections/section-testimonials/testimonials-768px.svg',
			0 0,
			no-repeat,
			contain,
			$color-light-green
		);
	}

	.swiper.testimonials-swiper {
		height: 43rem;
	}

	.testimonials__gray-line {
		margin-bottom: 1.25rem;
	}

	.testimonials__container .spin-text-circle__circle {
		display: none;
	}

	.testimonials__title {
		font-size: 1.25rem;
		line-height: 1.75rem;
		margin-bottom: 0.8125rem;
	}

	.testimonials__subtitle {
		max-width: 21.625rem;
		@include text--small;
		margin-bottom: 0.6875rem;
	}

	.vertical-gray-line-1 {
		left: 4.5625rem;
		height: 33.5625rem;
	}

	.vertical-gray-line-2 {
		left: 16.625rem;
		height: 18rem;
	}

	.vertical-gray-line-3 {
		right: 17.6875rem;
		height: 27.9375rem;
	}

	.vertical-gray-line-4 {
		right: 3.5rem;
		height: 12.5rem;
	}

	.testimonials__list {
		height: 26.6875rem;
	}

	.testimonials__item:nth-child(1) {
		bottom: -17.875rem;
		left: 0.625rem;
	}

	.testimonials__item:nth-child(2) {
		top: 2.4375rem;
		left: 2.75rem;
	}

	.testimonials__item:nth-child(3) {
		top: -2.3125rem;
		right: -0.125rem;
	}

	.testimonials__item:nth-child(4) {
		bottom: -12.375rem;
		right: 3.75rem;
	}
}

@media (max-width: $breakpoint-md) {
	.testimonials-background {
		background: none;
		background-color: $color-light-green;
	}

	.testimonials .spin-text-circle__circle {
		display: none;
	}

	.testimonials__gray-line {
		display: block;
		margin-bottom: 1.125rem;
	}

	.vertical-gray-line-1,
	.vertical-gray-line-2,
	.vertical-gray-line-3,
	.vertical-gray-line-4 {
		display: none;
	}

	.testimonials__subtitle {
		margin-bottom: 2.5rem;
	}

	.swiper.testimonials-swiper {
		width: 100%;
		height: auto;
		gap: 0;
		overflow-x: hidden;
		top: -2.5rem;
	}

	.testimonials__list > *:nth-child(n + 5) {
		visibility: visible;
	}

	.testimonials__item {
		position: initial;
	}
}
