.popup.popup__get-consultation {
	@include background(
		'/assets/images/consulatation-popup-bg.png',
		initial,
		no-repeat,
		cover
	);
	padding: 3.8125rem 5.4375rem 3.75rem 5.4375rem;

	.popup__content {
		max-width: 26.625rem;
	}

	.get-consultation__title {
		margin-bottom: 0.25rem;
	}

	.get-consultation__subtitle {
		text-align: center;
		margin-bottom: 2.5rem;
	}

	.form-group {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		margin-bottom: 2.5rem;
	}

	.input-email__wrapper {
		position: relative;
	}

	.error-text {
		visibility: hidden;
		display: block;
		text-align: end;
		color: $color-system-red;
	}

	.error-icon {
		visibility: hidden;
		width: 1rem;
		height: 1rem;
		position: absolute;
		bottom: 1rem;
		right: 1rem;
	}

	input[type='email'] {
		padding: 0.6875rem 0 0.6875rem 1rem;
		width: 100%;
	}

	textarea {
		padding: 0.6875rem 0 0 1rem;
		width: 100%;
		height: 9.2319rem;
		resize: none;
	}

	input[type='email']::placeholder,
	textarea::placeholder {
		font-weight: 400;
		font-size: 1rem;
		line-height: 1.375rem;
		letter-spacing: 0.03em;
	}

	input[type='email'],
	textarea {
		border: 0.0625rem solid $color-black;
	}

	.checkbox-label {
		display: flex;
		align-items: center;
	}

	.checkbox-label input[type='checkbox'] {
		display: none;
	}

	.checkbox-label .checkbox-custom {
		position: relative;
		width: 1rem;
		height: 1rem;
		border: 0.0938rem solid #333f52;
		border-radius: 0.125rem;
		margin-right: 0.5rem;
	}

	.checkbox-label .checkbox-custom:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 1rem;
		height: 1rem;
		opacity: 0;
		border-radius: 0.125rem;
		@include background('/assets/icons/checked-icon.svg');
		transition: opacity 0.2s ease;
	}

	.checkbox-label input[type='checkbox']:checked + .checkbox-custom:before {
		opacity: 1;
	}

	input[type='checkbox'] {
		width: 1rem;
		height: 1rem;
		margin-right: 0.75rem;
	}

	.character-count {
		color: $color-dark-grey;
		text-align: end;
	}

	.form-actions {
		display: flex;
		gap: 2rem;
		justify-content: end;
	}

	.btn-cancel,
	.btn-submit {
		padding: 1rem 2rem;
		font-size: 1.25rem;
		line-height: 1.75rem;
	}

	.btn-cancel {
		background: $color-white;
		border: 0.0625rem solid $color-dark-grey;
	}

	.btn-submit {
		color: $color-white;
		font-weight: 600;
		background-color: $color-primary-violet;
		border: 0.0625rem solid $color-grey;
	}

	@media (max-width: 48rem) {
		border-radius: 0;
		padding: 1.3956rem 2.375rem 1.3625rem 2.375rem;

		.get-consultation__title {
			text-align: center;
			font-size: 1.5rem;
			line-height: 2.1rem;
			margin-bottom: 0.1331rem;
		}

		.get-consultation__subtitle {
			font-size: 0.75rem;
			line-height: 1.0625rem;
			margin-bottom: 1.3331rem;
		}

		input[type='email']::placeholder,
		textarea::placeholder,
		.character-count {
			font-size: 0.625rem;
			line-height: 0.875rem;
		}

		.form-group {
			width: 14.1875rem;
			margin: 0 auto;
			gap: 0.8rem;
			margin-bottom: 1.3294rem;
		}

		.form-group label {
			font-size: 0.625rem;
			line-height: 0.875rem;
		}

		input[type='email'] {
			padding: 0.5331rem 0.3669rem 0.3669rem;
			width: 100%;
		}

		textarea {
			padding: 0.5331rem 0 0 0.3669rem;
			width: 100%;
			height: 4.9238rem;
		}

		input[type='checkbox'] {
			width: 0.75rem;
			height: 0.75rem;
			margin-right: 0.5rem;
		}

		.btn-cancel,
		.btn-submit {
			padding: 0.5331rem 1.0669rem;
			font-size: 0.75rem;
			line-height: 1.05rem;
		}

		.form-actions {
			gap: 1.0669rem;
		}

		.close-popup-button {
			width: 1rem;
			height: 0.9375rem;
			top: 0.7825rem;
			right: 0.7306rem;
		}
	}

	@media (max-width: 23.4375rem) {
		padding: 1.4612rem 3.3988rem 1.4219rem 3.3988rem;

		.get-consultation__title {
			text-align: center;
			font-size: 1.625rem;
			line-height: 2.275rem;
			margin-bottom: 0.1563rem;
		}

		.get-consultation__subtitle {
			font-size: 0.875rem;
			line-height: 1.225rem;
			margin-bottom: 1.5625rem;
		}

		input[type='checkbox'] {
			width: 1rem;
			height: 1rem;
		}

		.form-group .checkbox-label {
			font-size: 0.875rem;
			line-height: 1.25rem;
		}

		.error-icon {
			bottom: 0.625rem;
			right: 1rem;
		}

		.form-group {
			width: 16.6656rem;
			gap: 0.9375rem;
			margin-bottom: 1.5625rem;
		}

		input[type='email'] {
			padding: 0.43rem 0 0.43rem 0.625rem;
		}

		textarea {
			padding: 0.43rem 0 0 0.625rem;
			height: 4.9238rem;
		}

		.btn-cancel,
		.btn-submit {
			padding: 0.625rem 1.25rem;
			font-size: 0.875rem;
			line-height: 1.225rem;
		}

		.form-actions {
			gap: 1.25rem;
		}
	}
}
