.popup.popup__get-consultation {
	@include background(
		'/assets/images/consulatation-popup-bg.png',
		initial,
		no-repeat,
		cover
	);
	padding: 3.8125rem 5.4375rem 3.75rem 5.4375rem;

	.popup__content {
		max-width: 26.625rem;
	}

	.get-consultation__title {
		margin-bottom: 0.25rem;
	}

	.get-consultation__subtitle {
		text-align: center;
		margin-bottom: 2.5rem;
	}

	.form-group {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		margin-bottom: 2.5rem;
	}

	.input-email__wrapper {
		position: relative;
	}

	.error-text {
		visibility: hidden;
		display: block;
		text-align: end;
		color: $color-system-red;
	}

	.error-icon {
		visibility: hidden;
		width: 16px;
		height: 16px;
		position: absolute;
		bottom: 16px;
		right: 16px;
	}

	input[type='email'] {
		padding: 0.6875rem 0 0.6875rem 1rem;
		width: 100%;
	}

	textarea {
		padding: 0.6875rem 0 0 1rem;
		width: 100%;
		height: 9.2319rem;
		resize: none;
	}

	input[type='email']::placeholder,
	textarea::placeholder {
		font-weight: 400;
		font-size: 1rem;
		line-height: 1.375rem;
		letter-spacing: 0.03em;
	}

	input[type='email'],
	textarea {
		border: 0.0625rem solid $color-black;
	}

	.checkbox-label {
		display: flex;
		align-items: center;
	}

	.checkbox-label input[type='checkbox'] {
		display: none;
	}

	.checkbox-label .checkbox-custom {
		position: relative;
		width: 16px;
		height: 16px;
		border: 1.5px solid #333f52;
		border-radius: 2px;
		margin-right: 8px;
	}

	.checkbox-label .checkbox-custom:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 16px;
		height: 16px;
		opacity: 0;
		border-radius: 2px;
		@include background('/assets/icons/checked-icon.svg');
		transition: opacity 0.2s ease;
	}

	.checkbox-label input[type='checkbox']:checked + .checkbox-custom:before {
		opacity: 1;
	}

	input[type='checkbox'] {
		width: 1rem;
		height: 1rem;
		margin-right: 0.75rem;
	}

	.character-count {
		color: $color-dark-grey;
		text-align: end;
	}

	.form-actions {
		display: flex;
		gap: 2rem;
		justify-content: end;
	}

	.btn-cancel,
	.btn-submit {
		padding: 1rem 2rem;
		font-size: 1.25rem;
		line-height: 1.75rem;
	}

	.btn-cancel {
		background: $color-white;
		border: 0.0625rem solid $color-dark-grey;
	}

	.btn-submit {
		color: $color-white;
		font-weight: 600;
		background-color: $color-primary-violet;
		border: 0.0625rem solid $color-grey;
	}

	@media (max-width: 768px) {
		border-radius: 0;
		padding: 22.33px 38px 21.8px 38px;

		.get-consultation__title {
			text-align: center;
			font-size: 24px;
			line-height: 33.6px;
			margin-bottom: 2.13px;
		}

		.get-consultation__subtitle {
			font-size: 12px;
			line-height: 17px;
			margin-bottom: 21.33px;
		}

		input[type='email']::placeholder,
		textarea::placeholder,
		.character-count {
			font-size: 10px;
			line-height: 14px;
		}

		.form-group {
			width: 227px;
			margin: 0 auto;
			gap: 12.8px;
			margin-bottom: 21.27px;
		}

		.form-group label {
			font-size: 10px;
			line-height: 14px;
		}

		input[type='email'] {
			padding: 8.53px 5.87px 5.87px;
			width: 100%;
		}

		textarea {
			padding: 8.53px 0 0 5.87px;
			width: 100%;
			height: 78.78px;
		}

		input[type='checkbox'] {
			width: 12px;
			height: 12px;
			margin-right: 8px;
		}

		.btn-cancel,
		.btn-submit {
			padding: 8.53px 17.07px;
			font-size: 12px;
			line-height: 16.8px;
		}

		.form-actions {
			gap: 17.07px;
		}

		.close-popup-button {
			width: 16px;
			height: 15px;
			top: 12.52px;
			right: 11.69px;
		}
	}

	@media (max-width: 375px) {
		padding: 23.38px 54.38px 22.75px 54.38px;

		.get-consultation__title {
			text-align: center;
			font-size: 26px;
			line-height: 36.4px;
			margin-bottom: 2.5px;
		}

		.get-consultation__subtitle {
			font-size: 14px;
			line-height: 19.6px;
			margin-bottom: 25px;
		}

		input[type='checkbox'] {
			width: 16px;
			height: 16px;
		}

		.form-group .checkbox-label {
			font-size: 14px;
			line-height: 20px;
		}

		.error-icon {
			bottom: 6px;
		}

		.form-group {
			width: 266.65px;
			gap: 15px;
			margin-bottom: 25px;
		}

		input[type='email'] {
			padding: 6.88px 0 6.88px 10px;
		}

		textarea {
			padding: 6.88px 0 0 10px;
			height: 78.78px;
		}

		.btn-cancel,
		.btn-submit {
			padding: 10px 20px;
			font-size: 14px;
			line-height: 19.6px;
		}

		.form-actions {
			gap: 20px;
		}
	}
}
