@import 'get-free-consultation';
@import 'project';

.popup {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	top: 50%;
	left: 50%;
	border-radius: 1.875rem;
	transform: translate(-50%, -50%);
	background-color: $color-white;
	z-index: 9999;
	transition: opacity 300ms ease-in-out;
}

.overlay {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9998;
	transition: opacity 300ms ease-in-out;
}

.popup.open {
	opacity: 1;
	visibility: visible;
}

.popup.open ~ .overlay {
	opacity: 1;
	visibility: visible;
}

.popup.close {
	opacity: 0;
}

.popup.close ~ .overlay {
	opacity: 0;
}

.close-popup-button {
	height: 0.975rem;
	width: 0.975rem;
	background-color: transparent;
	border: none;
	position: absolute;
	top: 1.5rem;
	right: 1.3125rem;
}
