.project__inner {
	display: flex;
}

.project__description {
	padding: 4.3125rem 0 2.4375rem 0;
	border-right: 2px solid $color-light-grey;
}

.project__title {
	padding-left: 5.875rem;
	margin-bottom: 2.0625rem;
}

.project__description-text {
	width: 32rem;
	padding: 1.9375rem 1.875rem 2.8125rem 5.875rem;
	margin-bottom: 5.625rem;
	background-color: $color-light-green;
}

.name-app__inner {
	display: flex;
	justify-content: end;
	padding-right: 0.625rem;
	gap: 0.625rem;
}

.name-app__title {
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	line-height: 1.375rem;
	text-decoration-line: underline;
	text-transform: uppercase;
	color: $color-black;
}

.project__img-img {
	object-fit: cover;
	margin: 4.3125rem 5.8125rem 4.375rem 6.6875rem;
	border: 0.25rem solid #c4fc50;
	width: 25.25rem;
	height: 30.3125rem;
}
