{{ define "main" }}
<div class="container">
  <nav class="navigation-path">
    <a class="navigation-path__link" href="{{ .Site.BaseURL }}">Home</a>
    <span>/</span>
    <a class="navigation-path__link navigation-path__link--active" href="{{ .Permalink }}">Cases</a>
  </nav>
</div>

<div class="cases">
  <div class="container">
    <div class="section-case__inner">
      <div class="section-title__inner">
        <h1 class="section-title__heading">Cases</h1>
        <div class="section-title__arrow rectangle-arrow">
          <i class="icon arrow-right-down-angle-square"></i>
        </div>
      </div>
    </div>

    <section class="categories">
      <h2 class="case-page__title-h2 categories__title">Categories</h2>
      <ul class="categories-list ">
        <li class="categories-item ">
          <a class="category category--active" href="/blogs">All</a>
        </li>
        {{ range .Site.Taxonomies.case_categories }}
        <li class="categories-item ">
          <a class="category category--active" href="{{ .Page.Permalink }}">#{{ .Page.Title  }}</a>
        </li>
        {{ end }}
      </ul>
    </section>

    {{/* Список постов */}}
    <ul class="blogs-list">
      {{ range .Paginator.Pages }}
      <li class="blog-item">
        {{ partial "case-card.html" . }}
      </li>
      {{ end }}
    </ul>

    {{/* Пагинация */}}
    {{ partial "partials/pagination.html" . }}
  </div>

</div>
{{ end }}