{{ define "main" }}

<div class="bg-wrapper">
  <div class="container">
    <nav class="navigation-path">
      <a class="navigation-path__link" href="{{ .Site.BaseURL }}">Home</a>
      <span>/</span>
      <a class="navigation-path__link" href="/cases">Сases</a>
      <span>/</span>
      <a class="navigation-path__link navigation-path__link--active" href="{{ .Permalink }}">{{.Params.title}}</a>
    </nav>
  </div>
  <section class="top-section">
    <div class="container">
      <div class="top-section__inner">
        <div class="categories-titile">
          <ul class="categories-list ">
            {{ range .Params.blog_categories }}
            <li class="categories-item ">
              <a class="category category--active" href="{{ .Page.Permalink }}">#{{ .Page.Title  }}</a>
            </li>
            {{ end }}
            </li>
          </ul>
          <h1 class="case-study-page__title-h1">{{.Params.title}}
          </h1>
        </div>
        <div class="top-section-img__container">
          <img class="case__img" src="{{.Params.image}}" alt="">
        </div>
      </div>
    </div>
  </section>

</div>
<section class="general-info">
  <div class="container">
    <div class="general-info__inner">
      <h2 class="case-study-page__title-h2 ">general info</h2>
      <ul class="general-info-list">
        <li class="general-info-item">
          <h3 class="general-info__title-h3">Client</h3>
          <p class="general-info__text">{{ .Params.project_info.client }}</p>
        </li>
        <li class="general-info-item">
          <h3 class="general-info__title-h3">Industry</h3>
          <p class="general-info__text">
            {{.Params.project_info.industry}}
          </p>
        </li>
        <li class="general-info-item">
          <h3 class="general-info__title-h3">Client Since</h3>
          <p class="general-info__text">
            {{.Params.project_info.client_since}}
          </p>
        </li>
        <li class="general-info-item">
          <h3 class="general-info__title-h3">Location</h3>
          <p class="general-info__text">
            {{.Params.project_info.location}}
          </p>
        </li>
        <li class="general-info-item">
          <h3 class="general-info__title-h3">Type</h3>
          <p class="general-info__text"> {{.Params.project_info.type}}</p>
        </li>
        <li class="general-info-item">
          <h3 class="general-info__title-h3">Engagement Model</h3>
          <p class="general-info__text">
            {{.Params.project_info.engagement_model}}
          </p>
        </li>
        <li class="general-info-item">
          <h3 class="general-info__title-h3">Duration</h3>
          <p class="general-info__text">
            {{.Params.project_info.duration}}
          </p>
        </li>
        <li class="general-info-item">
          <h3 class="general-info__title-h3">Staff</h3>
          <p class="general-info__text"> {{.Params.project_info.staff}}
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="section-challenge">
  <div class="container">
    <div class="section-challenge__inner">
      <h2 class="case-study-page__title-h2">Challenge</h2>
      <p class="case-study-page__subtitle">{{.Params.challenge.subtitle}}
        several critical challenges:</p>
      <ul class="challenge-list">
        {{ range .Params.challenge.issues }}
        <li class="challenge-item">
          <div class="challenge-card">
            <h3 class="challenge-card__title">{{ .key }}</h3>
            <p class="challenge-card__text">{{ .description }}</p>
          </div>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</section>
<section class="section-value-driven">
  <div class="container">
    <div class="section-value-driven__inner">
      <h2 class="case-study-page__title-h2">Value-Driven Results</h2>
      <p class="case-study-page__subtitle">{{.Params.value_driven_results.subtitle}}</p>
      <div class="value-driven-lists__wrapper">
        <ul class="value-driven-list">
          <li class="value-driven-item">
            <i class="icon arrow-right-down-angle-square"></i>
            <p class="value-driven-item__text">Communication gaps were minimized, ensuring drivers received
              crucial updates and safety instructions promptly.</p>
          </li>
          <li class="value-driven-item">
            <i class="icon arrow-right-down-angle-square"></i>
            <p class="value-driven-item__text">Driver safety and compliance were enhanced through real-time
              monitoring and communication of safety protocols.</p>
          </li>
          <li class="value-driven-item">
            <i class="icon arrow-right-down-angle-square"></i>
            <p class="value-driven-item__text">Efficiency and record-keeping improved, with comprehensive data
              capture and retrieval.</p>
          </li>
          <li class="value-driven-item">
            <i class="icon arrow-right-down-angle-square"></i>
            <p class="value-driven-item__text">Real-time monitoring of vital signs contributed to both safety and
              performance evaluation.</p>
          </li>
        </ul>
        <ul class="value-driven-list">
          <li class="value-driven-item">
            <i class="icon arrow-right-down-angle-square"></i>
            <p class="value-driven-item__text">Language barriers were overcome with the auto-translate feature.
            </p>
          </li>
          <li class="value-driven-item">
            <i class="icon arrow-right-down-angle-square"></i>
            <p class="value-driven-item__text">Offline capabilities ensured functionality in remote areas.
            </p>
          </li>
          <li class="value-driven-item">
            <i class="icon arrow-right-down-angle-square"></i>
            <p class="value-driven-item__text">Integration with third-party platforms improved coordination.
            </p>
          </li>
          <li class="value-driven-item">
            <i class="icon arrow-right-down-angle-square"></i>
            <p class="value-driven-item__text">User access management became user-friendly and efficient.
            </p>
          </li>
          <li class="value-driven-item">
            <i class="icon arrow-right-down-angle-square"></i>
            <p class="value-driven-item__text">Robust reporting and analytics tools provided valuable insights for
              optimization.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <footer class="section-value-driven-footer">
    <div class="container">
      <i class="icon icon-elipse-gradient-pink"></i>
      <p class="case-study-page__subtitle">
        By addressing these challenges, our solution enabled the logistics company to operate more efficiently,
        ensure driver
        safety and compliance, and enhance communication across the organization. This resulted in improved
        overall performance
        and customer satisfaction.
      </p>
    </div>
  </footer>
</section>
{{ end }}