{{ define "main" }}

<div class="bg-wrapper">
  <div class="container">
    <nav class="navigation-path">
      <a class="navigation-path__link" href="{{ .Site.BaseURL }}">Home</a>
      <span>/</span>
      <a class="navigation-path__link" href="/cases">Сases</a>
      <span>/</span>
      <a class="navigation-path__link navigation-path__link--active" href="{{ .Permalink }}">{{.Params.title}}</a>
    </nav>
  </div>
  <section class="top-section">
    <div class="container">
      <div class="top-section__inner">
        <div class="categories-titile">
          <ul class="categories-list ">
            {{ range .Params.blog_categories }}
            <li class="categories-item ">
              <a class="category category--active" href="{{ .Page.Permalink }}">#{{ .Page.Title  }}</a>
            </li>
            {{ end }}
            </li>
          </ul>
          <h1 class="case-study-page__title-h1">{{.Params.title}}
          </h1>
        </div>
        <div class="top-section-img__container">
          <img class="case__img" src="{{.Params.image}}" alt="">
        </div>
      </div>
    </div>
  </section>

</div>
<section class="general-info">
  <div class="container">
    <div class="general-info__inner">
      <h2 class="case-study-page__title-h2 ">general info</h2>
      <ul class="general-info-list">
        <li class="general-info-item">
          <h3 class="general-info__title-h3">Client</h3>
          <p class="general-info__text">{{ .Params.project_info.client }}</p>
        </li>
        <li class="general-info-item">
          <h3 class="general-info__title-h3">Industry</h3>
          <p class="general-info__text">
            {{.Params.project_info.industry}}
          </p>
        </li>
        <li class="general-info-item">
          <h3 class="general-info__title-h3">Client Since</h3>
          <p class="general-info__text">
            {{.Params.project_info.client_since}}
          </p>
        </li>
        <li class="general-info-item">
          <h3 class="general-info__title-h3">Location</h3>
          <p class="general-info__text">
            {{.Params.project_info.location}}
          </p>
        </li>
        <li class="general-info-item">
          <h3 class="general-info__title-h3">Type</h3>
          <p class="general-info__text"> {{.Params.project_info.type}}</p>
        </li>
        <li class="general-info-item">
          <h3 class="general-info__title-h3">Engagement Model</h3>
          <p class="general-info__text">
            {{.Params.project_info.engagement_model}}
          </p>
        </li>
        <li class="general-info-item">
          <h3 class="general-info__title-h3">Duration</h3>
          <p class="general-info__text">
            {{.Params.project_info.duration}}
          </p>
        </li>
        <li class="general-info-item">
          <h3 class="general-info__title-h3">Staff</h3>
          <p class="general-info__text"> {{.Params.project_info.staff}}
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
{{ end }}