<article class="card-blog">
  <div class="card-blog__content">
    <h3 class="card-blog__title">
      {{ .Title }}
    </h3>
    <p class="card-blog__description">
      {{ .Summary }}
    </p>
    <div class="card-blog__category-container">
      {{ $categories := .Params.blog_categories }}

    </div>
    <span class="card-blog__date">{{ .Date | time.Format ":date_medium" }}</span>
  </div>
  <a href="{{ .Permalink }}" class="button button--primary card-blog__btn">
    Read More
    <i class="icon arrow-right-top-angle-square-transparent-bg"></i>
  </a>
</article>