<article class="card-blog {{ if in .Params.theme "black" }}card-blog--bg-black{{ end }}">
  <div class="card-blog__content">
    <h3 class="card-blog__title">
      {{ .Title }}
    </h3>
    <p class="card-blog__description">
      {{ .Params.description }}
    </p>
    <span class="category">#{{ index .Params.blog_categories 0 }}</span>
    <span class="card-blog__date">{{ .Date | time.Format ":date_medium" }}</span>
  </div>
  <a href="{{ .Permalink }}" class="button button--primary card-blog__btn">
    Read More
    <i class="icon arrow-right-top-angle-square-transparent-bg"></i>
  </a>
</article>