<a href="{{ .Permalink }}">
  <article class="case-card">
    <div class="case-card__img-wrapper">
      {{ $image := resources.Get .Params.image }}
      {{ $mediumImage := $image.Resize "320x300 webp" }}
      {{ $largeImage := $image.Resize "620x405 webp" }}
      <picture>
        <source type="image/webp" media="(max-width:768px)" srcset="{{$mediumImage.RelPermalink}}">
        <source type="image/webp" media="(max-width:1440px)" srcset="{{$largeImage.RelPermalink}}">
        <source type="image/webp" media="(min-width:1441px)" srcset="{{$largeImage.RelPermalink}}">
        <img loading="lazy" src="{{ $image.RelPermalink }}" alt="Case-Image">
      </picture>
    </div>
    <footer class="case-card__footer">
      <h3 class="case-card__title">
        {{ .Title }}
      </h3>
      <div class="section-title__arrow rectangle-arrow">
        <i class="icon arrow-right-top-angle-square"></i>
      </div>
    </footer>
  </article>
</a>