{{ $image := resources.Get .Params.image }}
{{ $mediumImage := $image.Resize "320x300 webp" }}
{{ $largeImage := $image.Resize "620x405 webp" }}

<a href="{{ .Permalink }}">
  <article class="case-card">
    <div class="case-card__img-wrapper">
      <img srcset="{{ $mediumImage.RelPermalink }} 768w, {{ $largeImage.RelPermalink }} 1440w" src="{{.Params.Image}}"
        sizes="(max-width: 768px) 320px,620px" alt="Case-Image">
    </div>
    <footer class="case-card__footer">
      <h3 class="case-card__title">
        {{ .Title }}
      </h3>
      <div class="section-title__arrow rectangle-arrow">
        <i class="icon arrow-right-top-angle-square"></i>
      </div>
    </footer>
  </article>
</a>