{{ $popup := .Site.GetPage "popup" }}
<div id="get-consultation" class="popup popup__get-consultation">
  <div class="popup-content">
    <h2 class="get-consultation__title">{{ $popup.Params.get_consultation_title
      }}</h2>
    <p class="get-consultation__subtitle text--medium">
      {{ $popup.Params.get_consultation_subtitle }}
    </p>
    <div class="form-wrapper">
      <form class="form invalid" novalidate
        action="https://formspree.io/f/xaygwovq" method="POST">
        <div class="form-group">
          <label class="text--small label-email" for="email">
            {{ $popup.Params.email_label }}
            <span class="input-email__wrapper">
              <i class="icon error-icon"></i>
              <input class="input-email"
                placeholder="{{ $popup.Params.email_placeholder }}" type="email"
                id="email" name="email" required />
            </span>
            <span class="error-text">{{ $popup.Params.email_error }}</span>
          </label>
          <div class="textarea__container">
            <label class="text--small" for="comments">
              {{ $popup.Params.comments_label }}
              <textarea class="textarea"
                placeholder="{{ $popup.Params.comments_placeholder }}"
                id="comments" name="message" maxlength="360"></textarea>
            </label>
            <div class="character-count text--small">0/360</div>
          </div>
          <label class="checkbox-label text--small" for="agree">
            <input class="checkbox" type="checkbox" id="agree" name="agree"
              required />
            <span class="checkbox-custom"></span>
            {{ $popup.Params.agree_text }}
          </label>
        </div>
        <p id="my-form-status"></p>
        <div class="form-actions">
          <button type="button" class="btn btn-cancel">{{
            $popup.Params.cancel_button }}</button>
          <button type="submit" class="btn btn-submit">{{
            $popup.Params.submit_button }}</button>
        </div>
      </form>
    </div>
    <div class="success-submit-block">
      <h2 class="get-consultation__title">{{ $popup.Params.success_title }}</h2>
      <p class="get-consultation__subtitle text--medium">
        <span>{{ $popup.Params.success_message_1 }}</span>
        <span>{{ $popup.Params.success_message_2 }}</span>
      </p>
      <i class="icon two-ticks"></i>
    </div>
  </div>
  <button class="close-popup-button"></button>
</div>