 <article class="card testimonial-1">
   <div class="avatar">
     {{ $image := resources.Get .avatar  }}
     {{ $smallImage := $image.Resize "92x92 q100 webp" }}
     {{ $largeImage := $image.Resize "145x145 q100 webp" }}
     <picture>
       <source type="image/webp" media="(max-width:768px)" srcset="{{$smallImage.RelPermalink}}">
       <source type="image/webp" media="(min-width:769px)" srcset="{{$largeImage.RelPermalink}}">
       <img loading="lazy" src="{{ $image.RelPermalink }}" alt="avatar" />
     </picture>

   </div>
   <div class="card__content">
     <h2 class="name">{{ .name }}</h2>
     <p class="position text--medium">{{ .position }}</p>
     <p class="description">{{ .description }}</p>
   </div>
 </article>