{{ define "main" }}
<section class="lazy-bison">
  <div class="container">
    <div class="lazy-bison__inner">
      <h1 class="lazy-bison__title">
        <span class="lazy-bison-title__text">{{ .Params.hero_section_title_part1 }}</span>
        <span class="lazy-bison-title__text">
          {<mark class="lazy-bison__text--highlight">{{ .Params.hero_section_highlight_text }}</mark>}
        </span>
        {{ .Params.hero_section_title_part2 }}
        <span class="lazy-bison-title__text">{{ .Params.hero_section_title_part3 }}</span>
      </h1>
      <div class="lazy-bison-description__inner">
        <div class="lazy-bison-description__info">
          <div class="lazy-bison-description__text-btn">
            <hr class="gray-line" />
            <p class="lazy-bison-description__text text--large">
              {{ .Params.hero_section_description }}
            </p>
            <button class="button lazy-bison-description__btn button__text--large button--primary get-consultation-btn">
              {{ .Params.consultation_button_text }}
            </button>
          </div>
          <div class="planet-text__inner">
            <div class="spin-text-circle">
              <i class="icon spin-text-circle__text"></i>
              <i class="icon spin-text-circle__circle spin-text-circle__circle--gradient-blue"></i>
            </div>
          </div>
        </div>
        <div class="lazy-bison__stats">
          <p class="lazy-bison__stats-text">
            {{ .Params.stats_projects_completed }}
            <span class="lazy-bison__stats-subtext text--medium">{{ .Params.stats_projects_completed_subtext }}</span>
          </p>
          <p class="lazy-bison__stats-text">
            {{ .Params.stats_years_in_business }}
            <span class="lazy-bison__stats-subtext text--medium">{{ .Params.stats_years_in_business_subtext }}</span>
          </p>
          <p class="lazy-bison__stats-text">
            {{ .Params.stats_clients_worldwide }}
            <span class="lazy-bison__stats-subtext text--medium">{{ .Params.stats_clients_worldwide_subtext }}</span>
          </p>
          <div class="spin-text-circle">
            <i class="icon spin-text-circle__text"></i>
            <i class="icon spin-text-circle__circle spin-text-circle__circle--gradient-blue-two"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="services" class="services">
  <div class="container">
    <div class="services__inner">
      <div class="section-title__inner">
        <h2 class="section-title__heading">{{ .Params.services_title }}</h2>
        <div class="section-title__arrow rectangle-arrow">
          <i class="icon arrow-right-down-angle-square"></i>
        </div>
      </div>
      <hr class="gray-line services__gray-line" />
      <div class="services-info">
        <div class="services-info__inner">
          <div class="services-info__description">
            <div class="descriptions__content show">
              <h3 class="services-info__title">{{ .Params.web_development_title }}</h3>
              <div class="services-gray-line__wrapper">
                <hr class="services-info__gray-line gray-line" />
              </div>
              <p class="services-info__description-text text--medium slide-in-height">
                {{ .Params.web_development_description }}
              </p>
            </div>
            <div class="descriptions__content">
              <h3 class="services-info__title">{{ .Params.mvp_development_title }}</h3>
              <div class="services-gray-line__wrapper">
                <hr class="services-info__gray-line gray-line" />
              </div>
              <p class="services-info__description-text text--medium">
                {{ .Params.mvp_development_description }}
              </p>
            </div>
            <div class="descriptions__content">
              <h3 class="services-info__title">{{ .Params.dedicated_team_title }}</h3>
              <div class="services-gray-line__wrapper">
                <hr class="services-info__gray-line gray-line" />
              </div>
              <p class="services-info__description-text text--medium">
                {{ .Params.dedicated_team_description }}
              </p>
            </div>
            <div class="descriptions__content">
              <h3 class="services-info__title">{{ .Params.ui_ux_design_title }}</h3>
              <div class="services-gray-line__wrapper">
                <hr class="services-info__gray-line gray-line" />
              </div>
              <p class="services-info__description-text text--medium">
                {{ .Params.ui_ux_design_description }}
              </p>
            </div>
            <div class="descriptions__content">
              <h3 class="services-info__title">{{ .Params.business_analyst_title }}</h3>
              <div class="services-gray-line__wrapper">
                <hr class="services-info__gray-line gray-line" />
              </div>
              <p class="services-info__description-text text--medium">
                {{ .Params.business_analyst_description }}
              </p>
            </div>
            <div class="descriptions__content">
              <h3 class="services-info__title">{{ .Params.mobile_development_title }}</h3>
              <div class="services-gray-line__wrapper">
                <hr class="services-info__gray-line gray-line" />
              </div>
              <p class="services-info__description-text text--medium">
                {{ .Params.mobile_development_description }}
              </p>
            </div>
          </div>
          <div class="services-info__types">
            <ul class="services-info__list text--medium">
              <li class="services-info__item">
                <button class="services-info__type-button active">
                  {{ .Params.web_development_title }}
                </button>
              </li>
              <li class="services-info__item">
                <button class="services-info__type-button">
                  {{ .Params.mvp_development_title }}
                </button>
              </li>
              <li class="services-info__item">
                <button class="services-info__type-button">
                  {{ .Params.dedicated_team_title }}
                </button>
              </li>
              <li class="services-info__item">
                <button class="services-info__type-button">
                  {{ .Params.ui_ux_design_title }}
                </button>
              </li>
              <li class="services-info__item">
                <button class="services-info__type-button">
                  {{ .Params.business_analyst_title }}
                </button>
              </li>
              <li class="services-info__item">
                <button class="services-info__type-button">
                  {{ .Params.mobile_development_title }}
                </button>
              </li>
            </ul>
          </div>
        </div>
        <button class="button button--primary button__text--large services-primary__button get-consultation-btn">
          {{ .Params.consultation_button_text }}
        </button>
      </div>
    </div>
  </div>
</section>

<section id="explore" class="explore">
  <div class="container">
    <div class="section-title__inner">
      <h2 class="section-title__heading">{{ .Params.explore_title }}</h2>
      <div class="section-title__arrow rectangle-arrow">
        <i class="icon arrow-right-down-angle-square"></i>
      </div>
    </div>
    <hr class="explore__gray-line gray-line" />
    <ul class="explore__list">
      <li class="explore__item">
        <h4 class="explore-item__title">{{ .Params.product_strategy_title }}</h4>
        <p class="explore-item__text text--medium">
          {{ .Params.product_strategy_description }}
        </p>
        <div class="vertical-gray-line"></div>
      </li>
      <li class="explore__item">
        <h4 class="explore-item__title">{{ .Params.software_engineering_title }}</h4>
        <p class="explore-item__text text--medium">
          {{ .Params.software_engineering_description }}
        </p>
        <div class="vertical-gray-line"></div>
      </li>
      <li class="explore__item">
        <h4 class="explore-item__title">{{ .Params.custom_support_title }}</h4>
        <p class="explore-item__text text--medium">
          {{ .Params.custom_support_description }}
        </p>
      </li>
    </ul>
  </div>
  <div class="help">
    <div class="container">
      <div class="help__inner">
        <h3 class="help__title">{{ .Params.help_title }}</h3>
        <img loading="lazy" class="background-svg" src="/images/home-page/sections/section-explore/help-lines.svg" alt="ellipse" />
        <p class="help__text text--large">
          {{ .Params.help_description }}
        </p>
      </div>
    </div>
  </div>
</section>

<section id="cases" class="cases">
  <div class="container">
    <div class="section-title__inner">
      <h2 class="section-title__heading">{{ .Params.cases_title }}</h2>
      <div class="section-title__arrow rectangle-arrow">
        <i class="icon arrow-right-down-angle-square"></i>
      </div>
    </div>
  </div>
  <div class="cases__inner">
    <div class="container">
      <div class="spin-text-circle">
        <i class="icon spin-text-circle__text"></i>
        <i class="icon spin-text-circle__circle spin-text-circle__circle--gradient-blue-two"></i>
      </div>
    </div>
    <div class="container container__cases-slider">
      <div class="swiper cases-slider" data-mobile="false">
        <ul class="swiper-wrapper cases-slider__swiper-wrapper">
          {{ range where .Site.RegularPages "Type" "cases" }}
          <li class="swiper-slide">{{ partial "case-card.html" . }}</li>
          {{ end }}
        </ul>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>

<section id="blog" class="section-blog">
  <div class="section-blog__inner">
    <div class="container">
      <div class="section-title__inner">
        <h2 class="section-title__heading">{{ .Params.blog_title }}</h2>
        <div class="section-title__arrow rectangle-arrow">
          <i class="icon arrow-right-down-angle-square"></i>
        </div>
      </div>
    </div>
    <div class="container container__blogs-slider">
      <div class="swiper blog-slider" data-mobile="false">
        <ul class="swiper-wrapper">
          {{ $recentBlogs := (where .Site.RegularPages "Type" "blog").ByDate.Reverse | first 5 }}
          {{ range $recentBlogs }}
          <li class="swiper-slide">{{ partial "blog-card.html" . }}</li>
          {{ end }}
        </ul>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>

<section id="testimonials" class="testimonials">
  <div class="container">
    <div class="section-title__inner">
      <h2 class="section-title__heading">{{ .Params.testimonials_title }}</h2>
      <div class="section-title__arrow rectangle-arrow">
        <i class="icon arrow-right-down-angle-square"></i>
      </div>
    </div>
  </div>
  <div class="testimonials__inner">
    <div class="container testimonials__container">
      <hr class="testimonials__gray-line gray-line">
      <div class="vertical-gray-line vertical-gray-line-1"></div>
      <div class="vertical-gray-line vertical-gray-line-2"></div>
      <div class="vertical-gray-line vertical-gray-line-3"></div>
      <div class="vertical-gray-line vertical-gray-line-4"></div>
      <h4 class="testimonials__title">{{ .Params.testimonials_subtitle }}</h4>
      <p class="testimonials__subtitle text--large">
        {{ .Params.testimonials_description }}
      </p>
    </div>
  </div>
  <div class="testimonials-background">
    <div class="container testimonials__container">
      <i class="icon spin-text-circle__circle spin-text-circle__circle--gradient-blue-three"></i>
      <div class="swiper testimonials-swiper" data-mobile="false">
        <ul class="swiper-wrapper testimonials__list">
          {{ range where .Site.RegularPages "Type" "testimonials"  }}
          <li class="swiper-slide testimonials__item">
            {{ partial "testimonial-card.html" . }}
          </li>
          {{ end }}
        </ul>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>

<section class="consultation">
  <div class="container">
    <div class="consultation__inner">
      <div class="spin-text-circle">
        <i class="icon spin-text-circle__text"></i>
        <i class="icon spin-text-circle__circle spin-text-circle__circle--gradient-blue-three"></i>
      </div>
      <p class="consultation__description text--large">
        {{ .Params.consultation_title }}
      </p>
      <button class="button button--primary button__text--large button get-consultation-btn">
        {{ .Params.consultation_button_text }}
      </button>
    </div>
  </div>
</section>
{{ end }}