{{ define "main" }}
<section class="lazy-bison">
  <div class="container">
    <div class="lazy-bison__inner">
      <h1 class="lazy-bison__title">
        <span class="lazy-bison-tittle__text">Get full-stack</span>
        <span class="lazy-bison-title__text">
          {<mark class="lazy-bison__text--highlight">development</mark>}
        </span>
        services with
        <span class="lazy-bison-title__text">Lazy Bison</span>
      </h1>
      <div class="container lazy-bison-description__inner">
        <div class="lazy-bison-description__info">
          <div class="lazy-bison-description__text-btn">
            <div class="gray-line"></div>
            <p class="lazy-bison-description__text text--large">
              Lazy Bison is an outsourcing company<br />
              who specializes in providing a full ecosystem for small
              and medium-sized businesses with Ruby on Rails
            </p>
            <button class="button lazy-bison-description__btn button__text--large button--primary get-consultation-btn">
              Get free consultation
            </button>
          </div>
          <div class="planet-text__inner">
            <div class="spin-text-circle">
              <i class="icon spin-text-circle__text"></i>
              <i class="icon spin-text-circle__circle"></i>
            </div>
          </div>
        </div>
        <div class="lazy-bison__stats">
          <p class="lazy-bison__stats-text">
            170+
            <span class="lazy-bison__stats-subtext text--medium">delivery
              projects</span>
          </p>
          <p class="lazy-bison__stats-text">
            10 years
            <span class="lazy-bison__stats-subtext text--medium">in
              business</span>
          </p>
          <p class="lazy-bison__stats-text">
            100+
            <span class="lazy-bison__stats-subtext text--medium">clients
              worldwide</span>
          </p>
          <div class="spin-text-circle">
            <i class="icon spin-text-circle__text"></i>
            <i class="icon spin-text-circle__circle"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="services" class="services">
  <div class="container">
    <div class="services__inner">
      <div class="section-title__inner">
        <h2 class="section-title__heading">Best features services</h2>
        <div class="section-title__arrow rectangle-arrow">
          <i class="icon arrow-right-down-angle-square"></i>
        </div>
      </div>
      <div class="gray-line services__gray-line"></div>
      <div class="services-info">
        <div class="services-info__inner">
          <div class="services-info__description">
            <div class="descriptions__content show">
              <h3 class="services-info__title">Web Development</h3>
              <div class="services-gray-line__wrapper">
                <div class="services-info__gray-line gray-line"></div>
              </div>
              <p class="services-info__description-text text--medium slide-in-height">
                Our Web Development services are the cornerstone of Lazy
                Bison's expertise. We believe that a well-crafted
                website is the gateway to your brand's online success.
                Our team of seasoned Ruby on Rails developers doesn't
                just write code; they weave digital experiences that
                captivate, engage, and convert. Whether you're starting
                from scratch or looking to revamp your existing
                platform, our Web Development solutions are tailored to
                fit your brand's unique identity and goals.
              </p>
            </div>
            <div class="descriptions__content">
              <h3 class="services-info__title">MVP Development</h3>
              <div class="services-gray-line__wrapper">
                <div class="services-info__gray-line gray-line"></div>
              </div>
              <p class="services-info__description-text text--medium">
                Turning your visionary ideas into Minimum Viable
                Products (MVPs) has never been easier. Lazy Bison's MVP
                Development services are designed to help you bring your
                concept to market swiftly and efficiently. Leveraging
                the power of Ruby on Rails, we develop lean and scalable
                MVPs that allow you to test the waters, gather feedback,
                and iterate quickly. Get ready to impress your audience
                with a compelling MVP that speaks volumes about your
                innovation
              </p>
            </div>
            <div class="descriptions__content">
              <h3 class="services-info__title">
                Dedicated Development Team
              </h3>
              <div class="services-gray-line__wrapper">
                <div class="services-info__gray-line gray-line"></div>
              </div>
              <p class="services-info__description-text text--medium">
                We understand that your project demands expertise,
                dedication, and a shared vision. Our Dedicated
                Development Team model ensures that your project gets
                the undivided attention of our skilled Ruby on Rails
                developers. Seamlessly integrated with your in-house
                team, our experts become an extension of your workforce,
                working tirelessly to turn your ideas into reality. With
                clear communication channels and agile methodologies,
                we're here to create a collaborative environment that
                breeds success.
              </p>
            </div>
            <div class="descriptions__content">
              <h3 class="services-info__title">UI/UX Design</h3>
              <div class="services-gray-line__wrapper">
                <div class="services-info__gray-line gray-line"></div>
              </div>
              <p class="services-info__description-text text--medium">
                User-centric design lies at the heart of every
                successful digital endeavor. Our UI/UX Design services
                blend aesthetics with functionality to deliver a
                seamless user experience that leaves a lasting
                impression. Our design team crafts interfaces that are
                not only visually stunning but also intuitive and
                user-friendly. With a deep understanding of user
                behavior and the latest design trends, we ensure your
                product engages and delights users from the very first
                click.
              </p>
            </div>
            <div class="descriptions__content">
              <h3 class="services-info__title">
                Dedicated Business Analyst
              </h3>
              <div class="services-gray-line__wrapper">
                <div class="services-info__gray-line gray-line"></div>
              </div>
              <p class="services-info__description-text text--medium">
                Navigating the intricate landscape of IT projects
                requires strategic planning and meticulous execution.
                Our Dedicated Business Analysts play a pivotal role in
                translating your business requirements into actionable
                development plans. With a laser-focused approach, they
                analyze, strategize, and optimize, ensuring that every
                step of the project aligns with your business
                objectives. Let our analysts be your guiding light from
                inception to implementation.
              </p>
            </div>
            <div class="descriptions__content">
              <h3 class="services-info__title">Mobile Development</h3>
              <div class="services-gray-line__wrapper">
                <div class="services-info__gray-line gray-line"></div>
              </div>
              <p class="services-info__description-text text--medium">
                In a world where mobility is key, our Mobile Development
                services empower you to reach your audience wherever
                they are. Harnessing the power of Ruby on Rails, we
                create mobile applications that are robust, intuitive,
                and responsive across devices. From concept to
                deployment, we've got your mobile strategy covered,
                helping you make a lasting impact in the palms of your
                users' hands.
              </p>
            </div>
          </div>
          <div class="services-info__types">
            <ul class="services-info__list text--medium">
              <li class="services-info__item">
                <button class="services-info__type-button active">
                  Web Development
                </button>
              </li>
              <li class="services-info__item">
                <button class="services-info__type-button">
                  MVP Development
                </button>
              </li>
              <li class="services-info__item"></li>

              <li class="services-info__item">
                <button class="services-info__type-button">
                  Dedicated development team
                </button>
              </li>
              <li class="services-info__item">
                <button class="services-info__type-button">
                  UI/UX Design
                </button>
              </li>
              <li class="services-info__item">
                <button class="services-info__type-button">
                  Dedicated BA to each team for FREE
                </button>
              </li>
              <li class="services-info__item">
                <button class="services-info__type-button">
                  Mobile Development
                </button>
              </li>
            </ul>
          </div>
        </div>
        <button class="button button--primary button__text--large services-primary__button get-consultation-btn">
          Get free consultation
        </button>
      </div>
    </div>
  </div>
</section>
<section id="explore" class="explore">
  <div class="container">
    <div class="section-title__inner">
      <h2 class="section-title__heading">Explore how it works</h2>
      <div class="section-title__arrow rectangle-arrow">
        <i class="icon arrow-right-down-angle-square"></i>
      </div>
    </div>
    <div class="explore__gray-line gray-line"></div>
    <ul class="explore__list">
      <li class="explore__item">
        <h4 class="explore-item__title">1. Product strategy</h4>
        <p class="explore-item__text text--medium">
          <span>Market research</span>
          <span>Competitive analysis</span>
          <span>Product Roadmapping</span>
          <span> User experience design</span>
          <span>Agile development</span>
          <span> Product management consulting</span>
        </p>
        <div class="vertical-gray-line"></div>
      </li>
      <li class="explore__item">
        <h4 class="explore-item__title">2. Software engineering</h4>
        <p class="explore-item__text text--medium">
          <span> Custom Software Development</span>
          <span> Cloud application development</span>
          <span> Cybersecurity</span>
          <span>DevOps and continuous delivery</span>
          <span> Infrastructure</span>
          <span> Software testing and quality assurance</span>
        </p>
        <div class="vertical-gray-line"></div>
      </li>
      <li class="explore__item">
        <h4 class="explore-item__title">3. Custom support</h4>
        <p class="explore-item__text text--medium">
          <span> Basic Customer Support</span>
          <span>Onboarding & Integrations</span>
          <span>Bug & Technical Issues Help Desk</span>
          <span>Management</span>
        </p>
      </li>
    </ul>
  </div>
  <div class="help">
    <div class="container">
      <div class="help__inner">
        <h3 class="help__title">
          We help you to solve business task with Ruby on Rails
        </h3>
        <img class="background-svg" src="/images/sections/section-explore/help-lines.svg" alt="ellipse" />
        <p class="help__text text--large">
          Businesses can ensure that their project is developed
          efficiently, on-time, and on-budget, while maintaining quality
          and meeting their specific needs with Lazy Bison
        </p>
      </div>
    </div>
  </div>
</section>
<section id="cases" class="cases">
  <div class="container">
    <div class="section-title__inner">
      <h2 class="section-title__heading">Cases</h2>
      <div class="section-title__arrow rectangle-arrow">
        <i class="icon arrow-right-down-angle-square"></i>
      </div>
    </div>
  </div>
  <div class="cases__inner">
    <div class="container">
      <div class="spin-text-circle">
        <i class="icon spin-text-circle__text"></i>
        <i class="icon spin-text-circle__circle"></i>
      </div>
    </div>
    <div class="container container__cases-slider">
      <div class="swiper cases-slider" data-mobile="false">
        <ul class="swiper-wrapper cases-slider__swiper-wrapper">
          {{ range where .Site.RegularPages "Type" "cases" }}
          <li class="swiper-slide">
            {{ partial "case-card.html" . }}
          </li>
          {{ end }}
        </ul>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
<section id="blogs" class="section-blog">
  <div class="section-blog__inner">
    <div class="container">
      <div class="section-title__inner">
        <h2 class="section-title__heading">Blog</h2>
        <div class="section-title__arrow rectangle-arrow">
          <i class="icon arrow-right-down-angle-square"></i>
        </div>
      </div>
      <div class="swiper blogs-slider" data-mobile="false">
        <ul class="swiper-wrapper">
          {{ $recentBlogs := (where .Site.RegularPages "Type" "blogs").ByDate.Reverse | first 5   }}
          {{ range $recentBlogs }}
          <li class="swiper-slide">
            {{ partial "blog-card.html" . }}
          </li>
          {{ end }}
        </ul>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
<section id="testimonials" class="testimonials">
  <div class="container">
    <div class="section-title__inner">
      <h2 class="section-title__heading">Testimonials</h2>
      <div class="section-title__arrow rectangle-arrow">
        <i class="icon arrow-right-down-angle-square"></i>
      </div>
    </div>
  </div>
  <div class="testimonials__inner">
    <div class="container testimonials__container">
      <div class="testimonials__gray-line gray-line"></div>
      <div class="vertical-gray-line vertical-gray-line-1"></div>
      <div class="vertical-gray-line vertical-gray-line-2"></div>
      <div class="vertical-gray-line vertical-gray-line-3"></div>
      <div class="vertical-gray-line vertical-gray-line-4"></div>
      <h4 class="testimonials__title">What people say?</h4>
      <p class="testimonials__subtitle text--large">
        Our main belief in success is connected with the achievements of
        our clients.
      </p>
    </div>
  </div>
  <div class="testimonials-background">
    <div class="container testimonials__container">
      <i class="icon spin-text-circle__circle"></i>
      <div class="swiper testimonials-swiper" data-mobile="false">
        <ul class="swiper-wrapper testimonials__list">
          {{ range .Site.Data.testimonials }}
          <li class="swiper-slide testimonials__item">
            {{ partial "testimonial-card.html" . }}
          </li>
          {{ end }}
        </ul>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>
<section class="consultation">
  <div class="container">
    <div class="consultation__inner">
      <div class="spin-text-circle">
        <i class="icon spin-text-circle__text"></i>
        <i class="icon spin-text-circle__circle"></i>
      </div>
      <p class="consultation__description text--large">
        Want to transform your product vision into reality with our
        data-driven approach?
      </p>
      <button class="button button--primary button__text--large button get-consultation-btn">
        Get free consultation
      </button>
    </div>
  </div>
</section>
{{ end }}