.cases-page__wrapper {
	margin-bottom: 3.75rem;
}

.cases-page__wrapper .navigation-path {
	margin: 3.75rem 0 2.5rem 0;
}

.section-case__inner .section-blog__inner {
	margin-bottom: 2.8125rem;
}

.case-page__title-h2 {
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1.8rem;
}

.categories__title {
	margin-bottom: 1.5rem;
}

.cases-page__wrapper .categories-list {
	margin-bottom: 3.375rem;
}

.cases-page__wrapper .cases-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(38.7188rem, 1fr));
	gap: 1.75rem;
}

@media (max-width: $breakpoint-lg) {
	.cases-page__wrapper  .navigation-path {
		margin: 1.5rem 0 1.5rem 0;
	}

	.cases-page__wrapper .categories-list {
		margin-bottom: 1.5rem;
	}

	.cases-page__wrapper .cases-list {
		grid-template-columns: repeat(auto-fill, minmax(21.875rem, 1fr));
		gap: 1rem;
	}

	.cases-page__wrapper .case-card .case-card__title {
		width: 14.6875rem;
	}
}

@media (max-width: $breakpoint-md) {
	.cases-page__wrapper .cases-list {
		grid-template-columns: repeat(auto-fill, minmax(21.4375rem, 1fr));
	}
}
