.full-info-blog__section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0;
}

.full-info-blog__section-text {
    font-weight: 300;
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}

.full-info-blog {
    width: 940px;
    margin: 0 auto;
}

.blog-page__navigation-path {
    margin-top: 60px;
    margin-bottom: 40px;
}

.full-info-blog {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.full-info__header {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.full-info__title-h1 {
    font-size: 42px;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: 0.03em;
    text-align: left;
}

.author-time-blog {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(75, 75, 75, 1);
}

.author {
    display: flex;
    align-items: center;
    gap: 4px;
}

.author__avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}

.author__name {
    text-transform: uppercase;
}

.hashtag-list {
    display: flex;
    align-items: center;
    gap: 8px;
}

.blog-post-image__wrapper {
    height: 400px;
}

.section-blog-page__title-h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
}

.full-info-blog-list--disc li {
    list-style-type: disc;
    padding-left: 0px;
}


.full-info-blog-list--number {
    list-style: none;
    padding-left: 30px;
}


.full-info-blog-list--number p~li {
    counter-increment: my-awesome-counter;
    padding-left: 0px;
}

.full-info-blog-list--number p~li>p::before {
    content: counter(my-awesome-counter) ". ";
}

.full-info-blog-list--number .full-info-blog-list-disc {
    padding-left: 18px;
}

.full-info-blog-list--number .full-info-blog-list--disc li {
    list-style-type: disc;
}

.full-info-blog-list li .code-wrapper {
    margin: 20px 0;
}

.highlight-text {
    font-weight: bold;
    color: $color-dark-violet;
}

.code-wrapper {
    position: relative;
    border-radius: 8px;
    padding: 40px;
    background-color: $color-night-blue;
}

.code {
    color: $color-light-green;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
}

.code__command {
    color: $color-white;
}

.copy-button {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    background-color: transparent;
    color: $color-grey;
    border: none;
}

.code-wrapper .copy-button {
    position: absolute;
    top: 16px;
    right: 24px;
}