*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	font-family: $font-family;
}

h1 {
	font-weight: 500;
	font-size: 5.5rem;
	line-height: 6.625rem;
	letter-spacing: 0.03em;
}

h2 {
	font-weight: 600;
	font-size: 2.625rem;
	line-height: 3.675rem;
	letter-spacing: 0.03em;
}

h3 {
	font-weight: 500;
	font-size: 2.25rem;
	line-height: 3.15rem;
	letter-spacing: 0.03em;
}

h4 {
	font-weight: 600;
	font-size: 1.75rem;
	line-height: 2.45rem;
	letter-spacing: 0.03em;
}

a {
	text-decoration: none;
	color: $color-white;
}

li {
	list-style: none;
}

object {
	width: 100%;
}

main section:not(.cases, .testimonials) {
	padding-bottom: 120px;
	@media (max-width: 768px) {
		padding-bottom: 80px;
	}
	@media (max-width: 375px) {
		padding-bottom: 0px;
	}
}

button {
	cursor: pointer;
}

img {
	width: 100%;
	object-fit: cover;
}

.full-screen-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.container {
	max-width: calc($container-width + $container-padding * 2);
	padding: 0 $container-padding;
	margin: 0 auto;
	@media (max-width: 768px) {
		max-width: calc(716px + $container-padding * 2);
	}
	@media (max-width: 375px) {
		max-width: calc(335px + $container-padding * 2);
	}
}

.heading--large {
	font-weight: 500;
	font-size: 5.5rem;
	line-height: 6.625rem;
	letter-spacing: 0.03em;
}

.heading--medium {
	font-weight: 600;
	font-size: 2.625rem;
	line-height: 3.675rem;
	letter-spacing: 0.03em;
}

.heading--small {
	font-weight: 500;
	font-size: 2.25rem;
	line-height: 3.15rem;
	letter-spacing: 0.03em;
}

.heading--smaller {
	font-weight: 600;
	font-size: 1.75rem;
	line-height: 2.45rem;
	letter-spacing: 0.03em;
}

.text--large {
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 2.125rem;
	letter-spacing: 0.03em;
}

.text--medium {
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 1.75rem;
	letter-spacing: 0em;
}

.text--small {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.375rem;
	letter-spacing: 0.03em;
}

.button__text--large {
	font-size: 1.25rem;
	font-weight: 600;
	line-height: 1.75rem;
	letter-spacing: 0em;
}

.button__text--medium {
	font-size: 1.125rem;
	font-weight: 600;
	line-height: 1.5625rem;
	letter-spacing: 0em;
}

.button {
	cursor: pointer;
	border: 0.0625rem solid;
}

.button--secondary {
	@include center;
	color: $color-white;
	border-color: $color-light-grey;
	transition: $transition-property $transition-duration $transition-easing;
	&:hover {
		color: $color-primary-violet;
		border-color: $color-primary-violet;
	}
	&:active {
		color: $color-black;
		background-color: $color-disable-grey;
		border-color: $color-disable-grey;
	}
}

.button--primary {
	@include center;
	background-color: $color-primary-violet;
	color: $color-white;
	border-color: $color-black;
	transition: $transition-property $transition-duration $transition-easing;
	padding: 1rem 3.2813rem;

	&:hover {
		background-color: $color-dark-violet;
		border-color: $color-black;
	}
	&:active {
		color: $color-black;
		background-color: $color-light-green;
	}
	@media (max-width: 768px) {
		font-size: 17.3px;
		line-height: 24.22px;
		padding: 14px 45.5px;
	}
	@media (max-width: 375px) {
		font-size: 17px;
		line-height: 24px;
		padding: 14px 45.5px;
	}
}

.gray-line {
	height: 2px;
	background-color: $color-light-grey;
}

.section-title__inner {
	display: flex;
	gap: 0.9375rem;
	margin-bottom: 2.5rem;
	@media (max-width: 768px) {
		display: flex;
		gap: 15px;
		margin-bottom: 12px;
	}
}

.planet-blue {
	width: 120px;
	height: 120px;
	position: absolute;
	z-index: 1;
	background: radial-gradient(
		72.45% 72.45% at 27.78% 24.07%,
		rgba(158, 236, 229, 0.48) 0%,
		#9eece5 60.46%,
		#72dfdd 79.62%,
		#51bbf6 100%
	);
	border-radius: 50%;
}

.circle-ruby-on-rails {
	width: 170.35px;
	height: 170.28px;
	position: absolute;
	animation: circle-rotation 4s infinite linear;
}

.section-title__heading {
	display: flex;
	align-items: center;
	@media (max-width: 768px) {
		font-weight: 600;
		font-size: 1.75rem;
		line-height: 2.45rem;
		letter-spacing: 0.03em;
	}
	@media (max-width: 375px) {
		font-size: 26px;
		line-height: 36px;
		letter-spacing: 0.02em;
	}
}

.rectangle-arrow {
	@include center;
	width: 4.5rem;
	height: 4.5rem;
	@media (max-width: 768px) {
		width: 50px;
		height: 50px;
	}
}
@mixin heading--smaller {
	font-weight: 600;
	font-size: 1.75rem;
	line-height: 2.45rem;
	letter-spacing: 0.03em;
}

@mixin text--small {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.375rem;
	letter-spacing: 0.03em;
}
