@import 'variables';

.header {
	background-color: $color-night-blue;
	flex: 0 0 auto;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.375rem 0rem 1.3125rem 0rem;
}

.header__logo {
	width: 13.125rem;
	@include center;
	z-index: 1;
}

.header__main-nav {
	flex-basis: 41.5625rem;
	@include center;
	z-index: 3;
}

.header__main-nav-list {
	width: 100%;
	margin: 0 0.625rem;
	display: flex;
	justify-content: space-between;
}

.header__main-nav-link {
	@include linkEffects;
}

.header__nav-button {
	background: inherit;
	flex-basis: 11.75rem;
	padding: 0.9063rem 0;
}

@media (max-width: 48rem) {
	.header__inner {
		padding: 0.4375rem 0 0.5rem 0rem;
		justify-content: flex-start;
	}

	.header__nav-button {
		@include center;
		flex-basis: 6.25rem;
		padding: 0.4063rem 0;
		margin: 0 1.75rem 0 auto;
		font-size: 0.6649rem;
		line-height: 0.9375rem;
	}

	.header__main-nav {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: $color-night-blue;
		padding-top: 8.4375rem;
		padding-left: 2.875rem;
	}

	.header__main-nav.menu-open {
		display: block;
	}

	.header__main-nav-list {
		flex-direction: column;
		gap: 2.5rem;
		@include heading--smaller;
	}

	.header__main-nav-item {
		@include heading--smaller;
	}
}

@media (max-width: 425px) {
	.header__inner {
		padding: 0.3406rem 0 0.3944rem 0rem;
		justify-content: space-between;
	}

	.header__logo {
		width: 9.125rem;
	}

	.header__nav-button {
		display: none;
	}

	.header__main-nav {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: $color-night-blue;
		padding-top: 8.4375rem;
		padding-left: 2.875rem;
	}

	.header__main-nav.menu-open {
		display: block;
	}

	.header__main-nav-list {
		flex-direction: column;
		gap: 2.5rem;
	}

	.header__main-nav-item {
		font-size: 1.5rem;
		line-height: 2.125rem;
		letter-spacing: 0.03em;
	}
}
