.cases__inner {
	@include background('/assets/images/casesbg.png', center, no-repeat, cover);
	display: flex;
	flex-direction: column;
}
.slider {
	display: flex;
	justify-content: center;
	position: relative;
	padding-top: 128.8px;
	padding-bottom: 7.5rem;
}
.slider__item {
	display: flex;
	align-items: stretch;
	z-index: 1;
	gap: 1.75rem;
}

.slider__link {
	display: flex;
	align-items: stretch;
	overflow: hidden;
	border: 1px solid $color-grey;
}

.slider__link--1 {
	border-radius: 6.25rem 0px 0px 0px;
}

.slider__link--2 {
	margin-bottom: 1.375rem;
}

.slider__link--3 {
	border-radius: 6.25rem 0rem 6.25rem 6.25rem;
}

.slider__image {
	max-width: 100%;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.cases__planet-img {
	position: absolute;
	top: 2.75rem;
	right: 1.6875rem;
}
