.explore__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	border-top: 2px solid $color-light-grey;
}
.explore-item__title {
	margin-bottom: 1.5rem;
}

.explore__item {
	display: flex;
	padding: 40px 0 47px 0;
	flex-direction: column;
}

.explore__item:not(:last-child) {
	border-right: 2px solid $color-light-grey;
}

.explore__item:not(:first-child) {
	padding-left: 1.75rem;
}

.explore-item__text {
	width: 21.875rem;

	span {
		display: block;
	}
}

.help {
	color: $color-white;
	background-color: $color-night-blue;
}

.help__inner {
	position: relative;
	padding: 5.25rem 0 2.0625rem 0;
}

.help__title {
	max-width: 38.3125rem;
	margin: 0 auto;
	margin-bottom: 16.375rem;
}
.help__text {
	max-width: 45.5rem;
}

.background-svg {
	position: absolute;
	top: -6.9375rem;
	left: 0;
	z-index: 1;
}
