.testimonials__inner {
	.testimonials__title {
		margin-bottom: 18px;
	}

	.testimonials__gray-line {
		margin-bottom: 50px;
	}

	.testimonials__subtitle {
		max-width: 512px;
	}

	.vertical-gray-line-1,
	.vertical-gray-line-2,
	.vertical-gray-line-3,
	.vertical-gray-line-4,
	.vertical-gray-line-5 {
		height: 1px;
	}

	.vertical-gray-line-1 {
		max-width: 455px;
		transform: rotate(90deg) translateY(119px) translateX(174px);
	}

	.vertical-gray-line-2 {
		width: 455px;
		transform: rotate(90deg) translateY(-314px) translateX(174px);
	}

	.vertical-gray-line-3 {
		width: 275px;
		transform: rotate(90deg) translateY(-826px) translateX(83px);
	}

	.vertical-gray-line-4 {
		width: 557px;
		transform: rotate(90deg) translateY(-895px) translateX(224px);
	}

	.workers-background {
		@include background(
			'/assets/images/workers-bg.png',
			center,
			no-repeat,
			cover
		);
	}

	.workers__list {
		height: 565px;
		display: flex;
		align-items: stretch;
		gap: 28px;
	}

	.workers__item:nth-child(1) {
		align-self: flex-end;
	}

	.workers__item:nth-child(2) {
		align-self: center;
	}

	.workers__item:nth-child(3) {
		position: relative;
	}

	.worker-3,
	.worker-4 {
		position: absolute;
	}

	.worker-3 {
		bottom: 52.5px;
	}

	.worker-4 {
		top: 52px;
	}

	.card {
		position: relative;
		padding: 92px 22px 44px 22px;
		width: 404px;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: $color-white;
		border: 1px solid $color-grey;
	}

	.avatar {
		position: absolute;
		top: -78px;
		bottom: 0;
		width: 145px;
		height: 145px;
		margin: 0 auto;
		border-radius: 50%;
		overflow: hidden;
	}

	.avatar img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.name {
		font-size: 20px;
		font-weight: 600;
		line-height: 28px;
		letter-spacing: 0em;
	}

	.position {
		text-align: center;
		font-size: 16px;
		color: #888888;
	}

	.description {
		margin-top: 10px;
		font-size: 14px;
		line-height: 1.5;
	}
	.card__content {
		max-width: 360px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
	}
}
