// variables.scss

$container-width: 79.25rem;
$container-padding: 0.625rem;

// Colors
$color-primary-violet: #515bf6;
$color-secondary: #72dfdd;
$color-neon-green: #c4fc50;
$color-dark-violet: #4139be;
$color-light-green: #e5ffaf;
$color-black: #212121;
$color-night-blue: #212439;
$color-accent-4: #4b4b4b;
$color-dark-grey: #6a6a6a;
$color-grey: #b0b0b0;
$color-accent-7: #dcdcdc;
$color-disable-grey: #e8eaf2;
$color-white: #ffffff;
$color-light-grey: #dcdcdc;

//gradients
$secondary-gradient-pink: radial-gradient(
	87.15% 85.05% at 100% 92.52%,
	#eaeaea 14.68%,
	#ffe6ed 30.98%,
	#f7c2dc 38.64%,
	#f2b0d0 47.71%,
	#e98ed1 64.37%,
	#6d73dd 78.96%,
	#3073c1 91.46%,
	#638b9f 100%
);

$secondary-gradient-pink-two: radial-gradient(
	72.45% 72.45% at 27.78% 24.07%,
	rgba(251, 181, 215, 0.37) 0%,
	#f8a4cd 60.46%,
	#e571c7 79.62%,
	#515bf6 100%
);

$secondary-gradient-blue: radial-gradient(
	87.15% 85.05% at 100% 92.52%,
	#eaeaea 14.68%,
	#e6fffc 30.98%,
	#c2f7f7 38.64%,
	#b0eef2 47.71%,
	#8ee9d8 64.37%,
	#6ddddd 78.96%,
	#3073c1 91.46%,
	#638b9f 100%
);

$secondary-gradient-blue-two: radial-gradient(
	72.45% 72.45% at 27.78% 24.07%,
	rgba(158, 236, 229, 0.48) 0%,
	#9eece5 60.46%,
	#72dfdd 79.62%,
	#51bbf6 100%
);

// Typography
$font-family: 'Outfit';
$root-font-size: 16px;
// Spacing

// Breakpoints
$breakpoint-sm: 320px;
$breakpoint-md: 375px;
$breakpoint-lg: 768px;
$breakpoint-xl: 1440px;

//transition
$transition-duration: 0.3s;
$transition-easing: ease;
$transition-property: all;

// mixins.scss

// Center element horizontally and vertically
@mixin center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin background(
	$image,
	$position: center center,
	$repeat: no-repeat,
	$size: auto,
	$color: transparent
) {
	background-image: url($image);
	background-position: $position;
	background-repeat: $repeat;
	background-size: $size;
	background-color: $color;
}

@mixin linkEffects {
	color: $color-white;
	transition: $transition-property $transition-duration $transition-easing;
	&:hover {
		color: $color-dark-violet;
	}
	&:active {
		color: $color-neon-green;
	}
}
